<div class="field field--required">
    <%= f.label :key, "Label", class: "field__label" %>
    <%= f.text_field :key, class: "field__input" %>
</div>

<div class="field field--required">
    <%= f.label :field_type, "Field type", class: "field__label" %>
    <%= f.select :field_type, CustomField.types.collect { |t| [t, t.parameterize]}, {}, class: "field__input" %>
</div>

<div class="field checkbox">
    <%= f.check_box :public, class: "checkbox__input"%>
    <%= f.label :public, "Make visible to community users?", class: "checkbox__label" %>
</div>


