    <div class="field field--required">
        <%= f.label :name, "Name", class: "field__label" %>
        <p class="field__hint">A word or short phrase that all users will understand.</p>
        <%= f.text_field :name, class: "field__input" %>
    </div>

    <div class="field">
        <%= f.label :hint, "Instructions", class: "field__label" %>
        <p class="field__hint">Keep this brief. A few words or a short sentence is enough.</p>
        <%= f.text_area :hint, class: "field__input", rows: 2 %>
    </div>

    <div class="field checkbox">
        <%= f.check_box :public, class: "checkbox__input"%>
        <%= f.label :public, "Make visible to community users?", class: "checkbox__label" %>
    </div>

    <h2>Fields</h2>
    <section class="repeater">
        <ul class="repeater__panels" aria-live="polite">
            <%= f.fields_for :custom_fields do |c| %>
                <li class="repeater__panel">
                    <%= render "admin/custom_fields/repeatable-fields", c: c %>
                </li>
            <% end %>
        </ul>

        <%= link_to_add_contact_fields "Add a field", f, :custom_fields, "admin/custom_fields/repeatable-fields" %>
    </section>