<% content_for :header do %>
    <%= link_to "Back to services", admin_services_path, class: "go-back" %>
    <h1 class="page-header__title">Custom fields</h1>
<% end %>

<div class="half-and-half">
    <div class="panel">
      <% if @fields.present? %>
        <div class="table-holder">
          <table class="table">
            <thead>
              <tr>
                <th>Label</th>
                <th>Field type</th>
                <th>Public</th>
                <th class="visually-hidden">Actions</th>
              </tr>
            </thead>
            <tbody>
              <% @fields.each do |f| %>
                <tr>
                  <td>
                    <strong><%= f.key %></strong>
                  </td>
                  <td><%= f.field_type.humanize %></td>
                  <td>
                    <% if f.public %>
                      <%= image_tag "tick-blue.svg", alt: "Yes" %>
                    <% else %>
                      —
                    <% end %>
                  </td>
                  <td>
                    <%= link_to "Remove", admin_custom_field_path(f), method: "delete", data: {confirm: "Are you sure? You won't be able to see or edit data for this field."} %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      <% else %>
        <p class="no-results no-results--big">No fields have been set up</p>
      <% end %>
    </div>
    <div class="panel">
        <%= form_for [:admin, @new_field], data: {warn_unsaved_changes: true} do |f| %>
          <%= render "shared/errors", model: @new_field %>
          <h2 class="field-group__legend">Add a new field</h2>
          
          <%= render "fields", f: f %>
          <div class="form-actions">
            <%= f.button "Create", class: "button button--small button--add" %>
          </div>
        <% end %>
    </div>

</div>