<% content_for :header do %>
  <% if service_creation_steps.index(@stage) == 0 %>
    <%= link_to "Go back", organisations_path, class: "go-back" %>
    <% else %>
    <%= link_to "Go back", edit_service_path(@service, :stage => prev_stage(@stage)), class: "go-back" %>
  <% end %>

  <p class="page-header__caption">Step 2 of 4</p>
  <h1 class="page-header__title two-thirds">How can people access your service?</h1>
<% end %>

<%= form_for @service do |form| %>

  <section class="community-editor">
    <h2 class="community-editor__title">Contacts</h2>
    <p class="community-editor__hint">Add individuals who members of the public can contact. For example, organisers or session leaders.</p>
    <%= render "admin/services/editors/contacts", s: form %>
  </section>

  <section class="community-editor">
    <h2 class="community-editor__title">Locations</h2>
    <p class="community-editor__hint">Provide locations where this service can be used. For a fully remote or virtual service, leave this blank.</p>
    <%= render "admin/services/editors/locations", s: form %>
  </section>

  <section class="community-editor">
    <h2 class="community-editor__title">Schedules</h2>
    <p class="community-editor__hint">Provide opening hours or session times for this service. If you have several unrelated sessions, consider adding different services for each one.</p>
    <%= render "admin/services/editors/regular-schedule", s: form %>
  </section>

  <% unless @service.free? %>
    <section class="community-editor">
      <h2 class="community-editor__title">Fees</h2>
      <p class="community-editor__hint">Add details about your service's charges or fees.</p>
      <section class="nested-editor">
          <ul class="nested-editor__results" aria-live="polite">
              <%= form.fields_for :cost_options do |c| %>
                  <li class="nested-editor__result">
                      <%= render "admin/services/editors/cost-options-fields", c: c %>
                  </li>
              <% end %>
          </ul>
          <%= link_to_add_fields "Add a fee", form, :cost_options, "admin/services/editors/cost-options-fields" %>
      </section>
    </section>
  <% end %>

  <div class="form-actions">
    <%= form.submit "Continue", class: "button" %>
  </div>
<% end %>