<% content_for :header do %>
  <% if service_creation_steps.index(@stage) == 0 %>
    <%= link_to "Go back", organisations_path, class: "go-back" %>
    <% else %>
    <%= link_to "Go back", edit_service_path(@service, :stage => prev_stage(@stage)), class: "go-back" %>
  <% end %>

  <p class="page-header__caption">Step 3 of 4</p>
  <h1 class="page-header__title two-thirds">Help people find your service</h1>
<% end %>


<section class="community-editor">
  <h2 class="community-editor__title">Categories</h2>
  <p class="community-editor__hint">Adding the right categories to your service helps people find it quickly. Choose all that apply.</p>

  <div class="tabs__panel">
    <div class="taxonomies-panel">
      <%= form.collection_check_boxes( :taxonomy_ids, Taxonomy.where(parent_id: Taxonomy.where(name: 'Categories').first), :id, :name) do |d| %>
        <div class="field checkbox checkbox--small">
          <%= d.check_box class: "checkbox__input" %>
          <%= d.label class: "checkbox__label" %>
        </div>
        <%= form.collection_check_boxes( :taxonomy_ids, Taxonomy.where(parent_id: d.value), :id, :name) do |e| %>
          <div class="field checkbox checkbox--small checkbox--level-1">
            <%= e.check_box class: "checkbox__input" %>
            <%= e.label class: "checkbox__label" %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</section>

<section class="community-editor">
  <h2 class="community-editor__title">Age groups</h2>
  <p class="community-editor__hint">Which age groups can your service cater for? Choose all that apply.</p>

  <div class="field-section field-section--two-cols field-section--no-bottom-margin">
    <%= form.collection_check_boxes( :taxonomy_ids, Taxonomy.where(parent_id: Taxonomy.where(name: 'Age groups').first), :id, :name) do |c| %>
        <div class="field checkbox">
            <%= c.check_box class: "checkbox__input" %>
            <%= c.label class: "checkbox__label" %>
        </div>
    <% end %>
  </div>
</section>

<section class="community-editor">
  <h2 class="community-editor__title">SEND Needs</h2>
  <p class="community-editor__hint">Which special educational needs can you support? Choose all that apply.</p>
  <div class="field-section field-section--two-cols field-section--no-bottom-margin">
    <%= form.collection_check_boxes( :taxonomy_ids, Taxonomy.where(parent_id: Taxonomy.where(name: 'SEND needs').first), :id, :name) do |c| %>
        <div class="field checkbox">
            <%= c.check_box class: "checkbox__input" %>
            <%= c.label class: "checkbox__label" %>
        </div>
    <% end %>
  </div>
</section>

<div class="form-actions">
  <%= form.submit "Continue", class: "button" %>
</div>