
<%= form_with model: @service, local: true, html: {class: "two-thirds"} do |f| %>

    <%= render "shared/errors", model: @service %>

    <div class="field-section">
        <div class="field">
            <%= f.label :name, class: "field__label" %>
            <%= f.text_field :name, class: "field__input" %>
        </div>

        <div class="field">
            <%= f.label :description, class: "field__label" %>
            <%= f.text_area :description, class: "field__input" %>
        </div>
    </div>


    <div class="form-actions">
        <%= f.submit "Submit for review", class: "button" %>
        <% unless @service.discarded? %>
            <%= link_to "Remove", service_path(@service), method: "delete", class: "button button--danger", data: {confirm: "Are you sure? All details associated with this service will be lost and it won't be visible to the public any more." } %>
        <% end %>
    </div>

<% end %>