<% content_for :header do %>
    <%= link_to "Go back", organisations_path, class: "go-back" %>
    <h1 class="page-header__title">Add a service</h1>
<% end %>

<%= form_with model: @service, local: true, html: {class: "two-thirds"} do |f| %>

    <%= render "shared/errors", model: @service %>

    <div class="field-section">
        <div class="field">
            <%= f.label :name, class: "field__label" %>
            <%= f.text_field :name, class: "field__input" %>
        </div>

        <div class="field">
            <%= f.label :description, class: "field__label" %>
            <%= f.text_area :description, class: "field__input" %>
        </div>
    </div>

    <%= f.submit "Submit for review", class: "button" %>

<% end %>