<% content_for :title do %>Add a service | <% end %>

<% content_for :header do %>
    <%= link_to "Go back", organisations_path, class: "go-back" %>
    <h1 class="page-header__title two-thirds">List a new service</h1>
<% end %>

<%= form_with model: @service, html: {class: "two-thirds"} do |s| %>

      <div class="field">
          <%= s.label :name, "What is your service called?", class: "field__label field__label--bold" %>
          <p class="field__hint">We’ll use this name to list it on the public service directory. The best names are short but specific.</p>
          <%= s.text_field :name, class: "field__input one-half", required: true %>
      </div>

      <div class="field field--span-two-cols">
          <%= s.label :description, "Describe your service", class: "field__label field__label--bold" %>
          <p class="field__hint">In a few sentences, explain what your service does and who it helps.</p>
          <%= s.text_area :description, class: "field__input", rows: 5, required: true %>
      </div>


    <button class="button">Continue</button>

<% end %>