<% content_for :header do %>
    <% if @currently_creating %>
        <h1 class="page-header__title two-thirds">List a new service</h1>
    <% else %>
        <% unless @service.approved %>
            <div class="notice">These changes are awaiting approval. Feel free to make more edits in the meantime.</div>
        <% end %>
        
        <%= link_to "Back to dashboard", organisations_path, class: "go-back" %>
        <h1 class="page-header__title two-thirds"><%= @service.name %></h1>
    <% end %>
<% end %>

<% if @currently_creating %>
    <div class="task-list-summary">
        <% if @completion_count < task_list_sections.flatten.count  %>
            <h2>Submission incomplete</h2>
            <p>You've completed <%= @completion_count %> of <%= task_list_sections.flatten.count %> sections.</p>
        <% else %>
            <h2>Ready to submit</h2>
            <p>You can now finish and send this application.</p>
            <%= link_to "Finish and send", service_confirmation_path(@service), class: "button", method: "post" %>
        <% end %>
    </div>
<% end %>

<ol class="task-list two-thirds">
    <li class="task-list__section">
        <h2 class="task-list__heading">Basic information</h2>
        <ul class="task-list__sublist">
            <% task_list_sections[0].each do |s| %>
                <li class="task-list__item">
                    <%= render "task_list_item", s: s %>
                </li>
            <% end %>
        </ul>
    </li>
    <li class="task-list__section">
        <h2 class="task-list__heading">Help people find your service</h2>
        <ul class="task-list__sublist">
            <% task_list_sections[1].each do |s| %>
                <li class="task-list__item">
                    <%= render "task_list_item", s: s %>
                </li>
            <% end %>
        </ul>
    </li>
    <li class="task-list__section">
        <h2 class="task-list__heading">Extra information</h2>
        <ul class="task-list__sublist">
            <% task_list_sections[2].each do |s| %>
                <li class="task-list__item">
                    <%= render "task_list_item", s: s %>
                </li>
            <% end %>
        </ul>
    </li>

</ol>
