<% content_for :title do %><%= @service.name %> | <% end %>

<% content_for :header do %>
    <% unless @service.approved? %>
        <div class="notice notice--pending">
            <div class="notice__body">
                <strong><p>This service has pending changes</p></strong>
                <p>A council staff member will review and publish these changes soon. You can still make more changes in the meantime.</p>    
            </div>
        </div>
    <% end %>

    <%= link_to "Go back", organisations_path, class: "go-back" %>
    <h1 class="page-header__title"><%= @service.name %></h1>
<% end %>

<div class="with-sidebar">

  <div class="two-thirds">
        <%= form_with model: @service, local: true do |form| %>

            <%= render "shared/errors", model: @service %>

                <div class="field-section field-section--two-cols field-section--reduced-bottom-margin">
                    <div class="field field--required">
                        <%= form.label :name, class: "field__label" %>
                        <p class="field__hint">Good names are short but recognisable</p>
                        <%= form.text_field :name, value: @service.name, class: "field__input", required: true %>
                    </div>

                    <div class="field field--span-two-cols">
                        <%= form.label :description, class: "field__label" %>
                        <p class="field__hint">Explain in a few sentences what your service does and who it helps</p>
                        <%= form.text_area :description, value: @service.description, class: "field__input", rows: 5 %>
                    </div>

                    <div class="field">
                        <%= form.label :url, "Website", class: "field__label" %>
                        <p class="field__hint">Must start with http:// or https://</p>
                        <%= form.url_field :url, class: "field__input" %>
                    </div>

                    <div class="field field--span-two-cols">
                        <div class="checkbox">
                            <%= form.check_box :visible, class: "checkbox__input" %>
                            <%= form.label :visible, "Make this service publicly visible", class: "checkbox__label" %>
                        </div>
                    </div>
                </div>
                <div class="field-section field-section--two-cols">
                    <h2 class="field field--span-two-cols">Referrals</h2>

                    <div class="field field--span-two-cols">
                        <div class="checkbox">
                            <%= form.check_box :needs_referral, class: "checkbox__input"%>
                            <%= form.label :needs_referral, "Does this service need a referral?", class: "checkbox__label" %>
                        </div>
                    </div>

                    <div class="field">
                        <%= form.label :referral_url, "Referral instructions webpage", class: "field__label" %>
                        <p class="field__hint">Must start with http:// or https://</p>
                        <%= form.url_field :referral_url, class: "field__input" %>
                    </div>
                </div>


                <%= render "shared/collapsible", name: "Contacts", count: @service.contacts.length, id: "contacts-editor" do %>
                    <%= render "admin/services/editors/contacts", s: form %>
                <% end %>

                <%= render "shared/collapsible", name: "Locations", count: @service.locations.length, id: "locations-editor" do %>
                    <%= render "admin/services/editors/locations", s: form %>
                <% end %>

                <%= render "shared/collapsible", name: "Scheduling", count: @service.regular_schedules.length, id: "schedule-editor" do %>
                    <%= render "admin/services/editors/regular-schedule", s: form %>
                <% end %>

                <%= render "shared/collapsible", name: "Fees", count: @service.cost_options.length, id: "fees-editor" do %>
                    <%= render "admin/services/editors/cost-options", s: form %>
                <% end %>

                <%= render "shared/collapsible", name: "Categorisation", count: @service.taxonomies.length, id: "taxonomy-editor" do %>
                    <%= render "admin/services/editors/taxonomies", s: form %>
                <% end %>

                <%= render "shared/collapsible", name: "Local offer", id: "local-offer-editor", help_text: "Optional extra questions for services which are part of the local offer." do %>
                    <%= render "admin/services/editors/local-offer", s: form %>
                <% end %>

                <%= render "shared/collapsible", name: "Childcare", id: "childcare-editor", help_text: "Optional extra questions for childcare providers only." do %>
                    <%= render "admin/services/editors/childcare", s: form %>
                <% end %>

            <div class="form-actions">
                <%= form.submit "Submit for review", class: "button" %>
                <%= link_to "Remove", service_path(@service), method: "delete", class: "button button--danger", data: {confirm: "Are you sure? All details associated with this service will be lost and it won't be visible to the public any more." } %>
            </div>
        <% end %>
    </div>

    <aside class="with-sidebar__sidebar">
        <%= render "admin/services/feedback" %>
    </aside>

</div>