<% content_for :title do %><%= @service.name %> | <% end %>

<% content_for :header do %>
    <% unless @service.approved? %>
        <div class="notice notice--pending">
            <div class="notice__body">
                <strong><p>This service has pending changes</p></strong>
                <p>A council staff member will review and publish these changes soon. You can still make more changes in the meantime.</p>    
            </div>
        </div>
    <% end %>

    <%= link_to "Go back", organisations_path, class: "go-back" %>
    <h1 class="page-header__title"><%= @service.name %></h1>
<% end %>


<%= form_with model: @service, local: true, html: {class: "two-thirds"} do |f| %>

    <%= render "shared/errors", model: @service %>

    <%= render "fields", f: f %>

    <div class="form-actions">
        <%= f.submit "Submit for review", class: "button" %>
        <%= link_to "Remove", service_path(@service), method: "delete", class: "button button--danger", data: {confirm: "Are you sure? All details associated with this service will be lost and it won't be visible to the public any more." } %>
    </div>

<% end %>