<div class="filters">
    <button class="filters__control" aria-expanded="false">Filters</button>

    <div class="filters__body" hidden>
        <%= form_for admin_services_url, method: "get", html: {class: "filters__form"} do |f| %>

            <%= label_tag "filter_taxonomy", "Filter taxonomies", class: "visually-hidden" %>
            <%= collection_select nil, :filter_taxonomy, 
            Taxonomy.all, 
            :id, :name, {
                include_blank: "All taxonomies",
                selected: params[:filter_taxonomy]
            }, class: "filters__select" %>

            <%= label_tag "filter_status", nil, class: "visually-hidden" %>
            <%= select_tag "filter_status", options_for_select([
                ["Only scheduled", "scheduled"],
                ["Only expired", "expired"],
            ], params[:filter_status]), include_blank: "All status", class: "filters__select" %>

            <%= label_tag "filter_label", "Filter labels", class: "visually-hidden" %>
            <%= collection_select nil, :filter_label, 
            ActsAsTaggableOn::Tag.most_used, 
            :name, :name, {
                include_blank: "All labels",
                selected: params[:filter_label]
            }, class: "filters__select" %>

        <% end %>
    </div>
</div>