<div class="with-sidebar">

  <div class="two-thirds">
    <%= form_for(@service, as: :service, url: admin_service_path(@service), method: :put) do |s| %>

      <%= render "shared/errors", model: @service %>

      <div class="collapsible" id="basic-info-editor">
        <button class="collapsible__header">
          <h2>Basics</h2>
        </button>

        <div class="collapsible__content">

          <div class="field-section field-section--two-cols">
            <div class="field">
                <%= s.label :name, class: "field__label" %>
                <%= s.text_field :name, value: @service.name, class: "field__input" %>
            </div>

            <div class="field">
                <%= s.label :organisation_id, "Parent organisation", class: "field__label" %>
                <%= s.collection_select( :organisation_id, Organisation.all, :id, :display_name, {}, class: "field__input")%>
            </div>

            <div class="field field--span-two-cols">
                <%= s.label :description, class: "field__label" %>
                <%= s.text_area :description, value: @service.description, class: "field__input", rows: 4 %>
            </div>
          </div>

          <div class="field-section field-section--two-cols">
            <h3 class="field field--span-two-cols">Contact details</h3>

            <div class="field">
                <%= s.label :email, class: "field__label" %>
                <%= s.text_field :email, value: @service.email, class: "field__input" %>
            </div>

            <div class="field">
                <%= s.label :url, "Website", class: "field__label" %>
                <%= s.text_field :url, value: @service.url, class: "field__input" %>
            </div>
          </div>

        </div>
      </div>

      <%= render "shared/taxonomy-tree", s: s %>

      <div class="collapsible" id="location-editor">
        <button class="collapsible__header">
          <h2>Location</h2>
        </button>
        <div class="collapsible__content">
          <%= render "location-editor", s: s %>
        </div>
      </div>

      <div class="collapsible" id="accessibility-editor">
        <button class="collapsible__header">
          <h2>SEND Needs</h2>
        </button>
        <div class="collapsible__content">
        </div>
      </div>

      <div class="form-actions">
        <% if params[:id] %>
          <%= s.submit "Update", class: "button" %>
          <% unless @service.discarded? %>
            <%= link_to "Archive", admin_service_path(@service), method: "delete", class: "button button--danger", data: {confirm: "Are you sure?" } %>
          <% end %>
        <% else %>
          <%= s.submit "Create", class: "button" %>
        <% end %>
      </div>


    <% end %>


  </div>

  <% if params[:id] %>
    <aside class="with-sidebar__sidebar">
        <%= render "shared/version-history" %>
        <%#= render "shared/notes" %>
    </aside>
  <% end %>

</div>