<%= render "shared/collapsible", name: "History", id: "service-history" do %>

    <%= link_to "Compare versions", admin_service_snapshots_path(@service), class: "collapsible__action" %>
    
    <% if @snapshots.present? %>
      <ul class="stepper <%= "stepper--summarised" if @service.snapshots.length > 4 %>">
          <% @snapshots.each do |shot| %>
              <li class="stepper__step <%= stepper_class(shot.action) %>">
                  <div>
                    <%= pretty_event(shot.action) %>
                    <% if shot.user.present? %>
                      by <strong><%= render "shared/poppables/user", u: shot.user %></strong>
                    <% else %>
                      by system
                    <% end %>
                  </div>
                  <p class="stepper__time">
                    <%= time_ago_in_words(shot.created_at).humanize %> ago
                  </p>
              </li>
          <% end %>
      </ul>
    <% end %>

<% end %>