<section class="mini-version-history collapsible" id="version-history">
  <button class="collapsible__header" aria-expanded="true">
    <h2>History</h2>
  </button>
  <div class="collapsible__content">

    <%= link_to "See full history", admin_service_snapshots_path(@service), class: "collapsible__action" %>
    
    <% if @snapshots.present? %>
      <ul class="stepper <%= "stepper--summarised" if @service.snapshots.length > 4 %>">
          <% @snapshots.each do |shot| %>
              <li class="stepper__step <%= stepper_class(shot.action) %>">
                  <div>
                    <%= pretty_event(shot.action)&.humanize %>
                    <% if shot.user.present? %>
                      by <strong><%= render "shared/poppables/user", u: shot.user %></strong>
                    <% end %>
                  </div>
                  <p class="stepper__time">
                    <%= time_ago_in_words(shot.created_at).humanize %> ago
                  </p>
              </li>
          <% end %>
      </ul>
    <% end %>

  </div>
</section>