<% content_for :header do %>
    <h1 class="page-header__title">Services</h1>
    <%= render "shared/services-nav" %>
<% end %>

<%= render "filters" %>

<% if @services.present? %>
  <div class="table-holder">
    <%= render partial: 'list', locals: { services: @services } %>
  </div>
  <%= paginate @services %>

  <div class="actions">
    <%= link_to "Export all services", 'services/export.csv', class: "inline-button actions__pull-right" %>
  </div>

<% else %>
  <p class="no-results no-results--big">No results to show</p>
<% end %>