<% content_for :header do %>
    <h1 class="page-header__title">Services</h1>
    <%= render "shared/services-nav" %>
<% end %>

<header class="actions">
  <div class="actions__group">
    <%= form_for_filterrific @filterrific do |f| %>

      <div class="mini-search">
        Search
        <%# give the search field the 'filterrific-periodically-observed' class for live updates %>
        <%= f.text_field(
          :search_query,
          class: 'filterrific-periodically-observed'
        ) %>
      </div>
      <div>
        Taxonomy
        <%= f.select(
          :in_taxonomy,
          @filterrific.select_options[:in_taxonomy],
          { include_blank: '- Any -' }
        ) %>
      </div>
      <div>
        Sorted by
        <%= f.select(
          :sorted_by,
          @filterrific.select_options[:sorted_by],
          { include_blank: 'None'}
        ) %>
      </div>
      <div>
        Status
        <%= f.select(
          :with_status,
          @filterrific.select_options[:with_status],
          { include_blank: 'None'}
        ) %>
      </div>
      <%= render_filterrific_spinner %>
    <% end %>
  </div>
  <%= link_to "Add service", new_admin_service_path, class: "button button--small button--add actions__pull-right" %>
</header>

<% if @services.present? %>
  <div class="table-holder">
    <%= render partial: 'list', locals: { services: @services } %>
  </div>
  <%= paginate @services %>
<% else %>
  <p class="no-results no-results--big">No results to show</p>
<% end %>