<% content_for :header do %>
    <%= link_to "Back to services", admin_services_path, class: "go-back" %>
    <h1 class="page-header__title two-thirds">Add a new service</h1>
<% end %>

<div class="with-sidebar">

  <div class="two-thirds">
    <%= form_for [:admin, @service] do |s| %>

      <%= render "shared/errors", model: @service %>

      <div class="collapsible" id="basic-info-editor">
        <button class="collapsible__header">
          <h2>Basics</h2>
        </button>
        <div class="collapsible__content">
          <%= render "admin/services/editors/basics", s: s %>
        </div>
      </div>

      <section class="collapsible" id="basics-editor">
        <button class="collapsible__header">
          <h2>Contacts</h2>
        </button>
        <div class="collapsible__content">
          <%= render "admin/services/editors/contacts", s: s %>
        </div>
      </section>

      <section class="version-history collapsible" id="taxonomy-editor">
          <button class="collapsible__header" aria-expanded="true">
              <h2>Taxonomies</h2>
          </button>
          <div class="collapsible__content">
            <%= render "admin/services/editors/taxonomies", s: s %>
          </div>
      </section>

      <div class="collapsible" id="location-editor">
        <button class="collapsible__header">
          <h2>Location</h2>
        </button>
        <div class="collapsible__content">
          <%= render "admin/services/editors/locations", s: s %>
        </div>
      </div>

      <fieldset class="collapsible" id="accessibility-editor">
        <button class="collapsible__header">
          <legend><h2>Local offer and SEND</h2></legend>
        </button>
        <div class="collapsible__content">
          <%= render "admin/services/editors/local-offer", s: s %>
        </div>
      </fieldset>

      <fieldset class="collapsible" id="regular-schedule-editor">
        <button class="collapsible__header">
          <legend>
            <h2>Opening hours</h2>
          </legend>
        </button>
        <div class="collapsible__content">
          <%= render "admin/services/editors/regular-schedule", s: s %>
        </div>
      </fieldset>

      <fieldset class="collapsible" id="send-needs-editor">
        <button class="collapsible__header">
          <legend><h2>Visibility</h2></legend>
        </button>
        <div class="collapsible__content">
          <%= render "admin/services/editors/dates", s: s %>
        </div>
      </fieldset>

      <fieldset class="collapsible" id="service-labels-editor">
        <button class="collapsible__header">
          <legend><h2>Labels</h2></legend>
        </button>
        <div class="collapsible__content">
          <%= render "admin/services/editors/labels", s: s %>
        </div>
      </fieldset>

      <div class="form-actions">
        <%= s.submit "Create", class: "button" %>
      </div>

    <% end %>
  </div>

</div>