<% content_for :header do %>

    <% if @ofsted_item.present? %>
      <div class="notice">
        <div class="notice__body">
          <p>
            You're creating a service linked to an Ofsted feed item:
            <%= link_to @ofsted_item.display_name, admin_ofsted_path(@ofsted_item) %>
          </p>
        </div>
      </div>
    <% end %>

    <%= link_to "Back to services", admin_services_path, class: "go-back" %>
    <h1 class="page-header__title two-thirds">Add a new service</h1>
<% end %>


<div class="with-sidebar">

  <div class="two-thirds">
    <%= form_for [:admin, @service], data: {warn_unsaved_changes: true} do |s| %>

      <%= s.hidden_field :ofsted_item_id, value: params[:ofsted_item_id] %>

      <%= render "shared/errors", model: @service %>

      <%= render "shared/collapsible", name: "Basics", id: "basic-info-editor" do %>
        <%= render "admin/services/editors/basics", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Contacts", id: "contacts-editor" do %>
        <%= render "admin/services/editors/contacts", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Taxonomies", id: "taxonomy-editor" do %>
        <%= render "admin/services/editors/taxonomies", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Locations", id: "locations-editor" do %>
        <%= render "admin/services/editors/locations", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Local offer and SEND", id: "local-offer-editor" do %>
        <%= render "admin/services/editors/local-offer", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Scheduling", id: "local-offer-editor" do %>
        <%= render "admin/services/editors/regular-schedule", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Visibility", id: "visibility-editor" do %>
        <%= render "admin/services/editors/dates", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Labels", id: "labels-editor" do %>
        <%= render "admin/services/editors/labels", s: s %>
      <% end %>

      <div class="form-actions">
        <%= s.submit "Create", class: "button" %>
      </div>

    <% end %>
  </div>

</div>