<% content_for :header do %>

    <% if @service.discarded? %>
      <div class="notice notice--cross">
        <div class="notice__body">
          <p>This service is archived and isn't visible</p>
          <%= link_to "Restore", admin_archive_path(@service), method: "patch", class: "notice__action", data: {confirm: "Are you sure? The service will be visible to users again."} %>
        </div>
      </div>
    <% else %>
      <% unless @service.approved? %>
        <div class="notice notice--pending">
          <div class="notice__body">
            <p>These changes are awaiting approval</p>
            <%= link_to "Approve", admin_request_path(@service), method: "patch", class: "notice__action", data: {confirm: "Are you sure? Approving these changes makes them publicly visible."} %>
            <span class="notice__divider">|</span>
            <%= link_to "See history", admin_service_snapshots_path(@service), class: "notice__action" %>
          </div>      
        </div>
      <% end %>
    <% end %>
    
    <%= link_to "Back to services", admin_services_path, class: "go-back" %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds"><%= @service.display_name %></h1>
    </div>
<% end %>

<header class="actions">
  <%= render "shared/watch" %>
  <button class="button button--inline" data-close-all="true">Close all</button>
</header>

<div class="with-sidebar">

  <div class="two-thirds">
    <%= form_for(@service, as: :service, url: admin_service_path(@service), method: :put) do |s| %>

      <%= render "shared/errors", model: @service %>

      <%= render "shared/collapsible", name: "Basics", id: "basic-info-editor" do %>
        <%= render "admin/services/editors/basics", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Contacts", count: @service.contacts.length, id: "contacts-editor" do %>
        <%= render "admin/services/editors/contacts", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Taxonomies", count: @service.taxonomies.length, id: "taxonomy-editor" do %>
        <%= render "admin/services/editors/taxonomies", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Locations", count: @service.locations.length, id: "locations-editor" do %>
        <%= render "admin/services/editors/locations", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Fees", count: @service.cost_options.length, id: "fees-editor" do %>
        <%= render "admin/services/editors/cost-options", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Local offer and SEND", id: "local-offer-editor" do %>
        <%= render "admin/services/editors/local-offer", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Opening hours", id: "schedule-editor" do %>
        
        <% if @service.open_after_six? %>
          open
        <% else %>
          not open
        <% end %>

        <%= render "admin/services/editors/regular-schedule", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Visibility", id: "visibility-editor" do %>
        <%= render "admin/services/editors/dates", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Labels", count: @service.label_list.length, id: "labels-editor" do %>
        <%= render "admin/services/editors/labels", s: s %>
      <% end %>

      <div class="form-actions">
        <%= s.submit "Update", class: "button" %>
        <% unless @service.discarded? %>
          <%= link_to "Archive", admin_service_path(@service), method: "delete", class: "button button--danger", data: {confirm: "Are you sure?" } %>
        <% end %>
      </div>

    <% end %>
  </div>

  <aside class="with-sidebar__sidebar">
  
      <% if @service.type === "OfstedService" %>
        <div class="dark-panel">
          <p>This is an Ofsted service</p>
          <% if OfstedItem.find_by(reference_number: @service.ofsted_reference_number) %>
            <p><strong><%= link_to "See original", admin_ofsted_path(OfstedItem.find_by(reference_number: @service.ofsted_reference_number)) %></strong></p>
          <% end %>
        </div>
      <% end %>

      <%= render "admin/services/snapshot-history" %>
      <%= render "admin/services/notes" %>
      <%= render "admin/services/feedback" %>
  </aside>

</div>