<% content_for :header do %>
    <%= link_to "Go back", admin_services_path, class: "go-back" %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds"><%= @service.display_name %></h1>
    </div>
<% end %>

<header class="actions">
  <%= render "shared/watch" %>
</header>

<div class="with-sidebar">
  <%= render "form" %>

  <aside class="with-sidebar__sidebar">
    <%= render "shared/version-history" %>
  </aside>
</div>