<% content_for :header do %>

    <% if @service.discarded? %>
      <div class="notice notice--cross">
        <div class="notice__body">
          <p>This service is archived and isn't visible</p>
          <%= link_to "Restore", admin_archive_path(@service), method: "patch", class: "notice__action", data: {confirm: "Are you sure? The service will be visible to users again."} %>
        </div>
      </div>
    <% else %>
      <% unless @service.approved? %>
        <div class="notice notice--pending">
          <div class="notice__body">
            <p>This service has pending changes</p>
            <%= link_to "Approve", admin_request_path(@service), method: "patch", class: "notice__action", data: {confirm: "Are you sure? Approving these changes makes them publicly visible."} %>
            <span class="notice__divider">|</span>
            <%= link_to "See changes", admin_service_snapshots_path(@service), class: "notice__action" %>
          </div>      
        </div>
      <% end %>
    <% end %>
    
    <%= link_to "Back to services", admin_services_path, class: "go-back" %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds"><%= @service.display_name %></h1>
    </div>
<% end %>

<header class="actions">
  <%= render "shared/watch" %>
</header>

<div class="with-sidebar">

  <div class="two-thirds">
    <%= form_for(@service, as: :service, url: admin_service_path(@service), method: :put) do |s| %>

      <%= render "shared/errors", model: @service %>

      <section class="collapsible" id="basics-editor">
        <button class="collapsible__header">
          <h2>Basics</h2>
        </button>
        <div class="collapsible__content">
          <%= render "admin/services/editors/basics", s: s %>
        </div>
      </section>

      <section class="collapsible" id="basics-editor">
        <button class="collapsible__header">
          <h2>
            Contacts
            <span class="collapsible__header-count">(<%= @service.contacts.length %>)</span>
          </h2>
        </button>
        <div class="collapsible__content">
          <%= render "admin/services/editors/contacts", s: s %>
        </div>
      </section>

      <section class="version-history collapsible" id="taxonomies-editor">
          <button class="collapsible__header" aria-expanded="true">
              <h2>
                Categories
                <span class="collapsible__header-count">(<%= @service.taxonomies.length %>)</span>
              </h2>
          </button>
          <div class="collapsible__content">
            <%= render "admin/services/editors/taxonomies", s: s %>
          </div>
      </section>

      <section class="collapsible" id="locations-editor">
        <button class="collapsible__header">
          <h2>
            Locations
            <span class="collapsible__header-count">(<%= @service.locations.length %>)</span>
          </h2>
        </button>
        <div class="collapsible__content">
          <%= render "admin/services/editors/locations", s: s %>
        </div>
      </section>

      <fieldset class="collapsible" id="send-needs-editor">
        <button class="collapsible__header">
          <legend>
            <h2>
              Local offer and SEND
              <span class="collapsible__header-count">(<%= @service.send_needs.length %>)</span>
            </h2>
          </legend>
        </button>
        <div class="collapsible__content">
          <div class="field-section field-section--two-cols field-section--no-bottom-margin">
            <%= render "admin/services/editors/send-needs", s: s %>
          </div>
        </div>
      </fieldset>

      <fieldset class="collapsible" id="service-visibility-editor">
        <button class="collapsible__header">
          <legend><h2>Visibility</h2></legend>
        </button>
        <div class="collapsible__content">
          <%= render "admin/services/editors/dates", s: s %>
        </div>
      </fieldset>

      <fieldset class="collapsible" id="service-labels-editor">
        <button class="collapsible__header">
          <legend>
            <h2>
              Labels
              <span class="collapsible__header-count">(<%= @service.label_list.length %>)</span>
            </h2>
          </legend>
        </button>
        <div class="collapsible__content">
          <%= render "admin/services/editors/labels", s: s %>
        </div>
      </fieldset>

      <div class="form-actions">
        <%= s.submit "Update", class: "button" %>
        <% unless @service.discarded? %>
          <%= link_to "Archive", admin_service_path(@service), method: "delete", class: "button button--danger", data: {confirm: "Are you sure?" } %>
        <% end %>
      </div>

    <% end %>
  </div>

  <aside class="with-sidebar__sidebar">
  
      <% if @service.type === "OfstedService" %>
        <div class="dark-panel">
          <p>This is an Ofsted service</p>
          <% if OfstedItem.find_by(reference_number: @service.ofsted_reference_number) %>
            <p><strong><%= link_to "See original", admin_ofsted_path(OfstedItem.find_by(reference_number: @service.ofsted_reference_number)) %></strong></p>
          <% end %>
        </div>
      <% end %>

      <%= render "snapshot-history" %>
      <%= render "notes" %>
      <%= render "feedback" %>
  </aside>

</div>