<% content_for :title do %>
  <%= @service.name %> | 
<% end %>

<% content_for :header do %>
    <%= render "notices" %>
    <%= render "shared/dynamic-back-link", text: "Back to services", path: admin_services_path %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds"><%= @service.display_name %></h1>
    </div>
<% end %>

<header class="actions">
  <%= render "shared/watch" %>
  <button class="inline-button actions__pull-right" data-open-all>Open all</button>
  <button class="inline-button" data-close-all>Close all</button>
</header>

<div class="with-sidebar">

  <div>
    <%= form_for(@service, as: :service, url: admin_service_path(@service), method: :put, data: {warn_unsaved_changes: true}) do |s| %>

      <%= render "shared/errors", model: @service %>

      <%= render "shared/collapsible", name: "Basics", id: "basic-info-editor" do %>
        <%= render "admin/services/editors/basics", s: s %>
      <% end %>

      <% if Directory.any? %>
        <%= render "shared/collapsible", name: "Directories", count: @service.directories&.length, id: "directories-editor", help_text: "Select which directories you want the service to appear in" do %>
          <%= render "admin/services/editors/directories", s: s %>
        <% end %>
      <% end %>

      <%= render "shared/collapsible", name: "Taxonomies", count: @service.taxonomies.length, id: "taxonomy-editor", help_text: "Help users understand what kind of service this is." do %>
        <%= render "admin/services/editors/taxonomies", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Contacts", count: @service.contacts.length, id: "contacts-editor", help_text: "Provide individual points of contact for users." do %>
        <%= render "admin/services/editors/contacts", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Locations", count: @service.locations.length, id: "locations-editor", help_text: "Provide locations where this service can be used. For a fully remote or virtual service, leave this blank." do %>
        <%= render "admin/services/editors/locations", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Fees", count: @service.cost_options.length, id: "fees-editor" do %>
        <%= render "admin/services/editors/cost-options", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Opening times", count: @service.regular_schedules.length, id: "schedule-editor", help_text: "Build a set of regular opening times for the service." do %>
        <%= render "admin/services/editors/regular-schedule", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Links", count: @service.links.length, id: "links-editor" do %>
        <%= render "admin/services/editors/links", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Local offer and SEND", id: "local-offer-editor" do %>
        <%= render "admin/services/editors/local-offer", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Suitable for", id: "suitability-editor" do %>
        <%= render "admin/services/editors/suitabilities", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Ages", id: "ages-editor" do %>
        <%= render "admin/services/editors/ages", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Visibility", id: "visibility-editor", help_text: "Control if and when the service is listed in public search results." do %>
        <%= render "admin/services/editors/dates", s: s %>
      <% end %>
 
      <%= render "shared/collapsible", name: "Labels", count: @service.label_list.length, id: "labels-editor", help_text: "Use labels to group services together in whatever way you need." do %>
        <%= render "admin/services/editors/labels", s: s %>
      <% end %>

      <%= render "shared/collapsible", name: "Custom fields", id: "custom-fields-editor" do %>
        <%= render "admin/services/editors/custom-fields", s: s %>
      <% end %>

      <%= render "admin/services/permenant-deletion", s: s %>

      <div class="form-actions">
        <%= s.submit "Update", class: "button" %>
        <% unless @service.discarded? %>
          <%= link_to "Archive", admin_service_path(@service), method: "delete", class: "button button--danger", data: {confirm: "Are you sure?" } %>
        <% end %>
      </div>

    <% end %>
  </div>

  <aside class="with-sidebar__sidebar">
  
      <% if @service.ofsted_item %>
        <div class="dark-panel">
          <p>This service is linked to <strong><%= link_to "an Ofsted feed item", admin_ofsted_path(@service.ofsted_item) %></strong></p>
        </div>
      <% end %>

      <%= render "shared/collapsible", name: "History", id: "service-history" do %>
        <%= link_to "Compare versions", admin_service_versions_path(@service), class: "collapsible__action" %>
        <%= render "shared/version-tree", object: @service %>
      <% end %>

      <%= render "admin/services/notes" %>
      <%= render "admin/services/feedback" %>
  </aside>

</div>
