<% content_for :header do %>

    <% if @service.discarded? %>
      <div class="alert alert--yellow">
        <p>This service is archived.</p>
        <%= link_to "Restore", admin_archive_path(@service), method: "patch", class: "alert__action", data: {confirm: "Are you sure? The service will be visible to users again."} %>
      </div>
    <% end %>

    <% unless @service.approved? %>
      <div class="alert alert--yellow">
        <p>This service has pending changes.</p>
        <%= link_to "Approve", admin_request_path(@service), method: "patch", class: "alert__action", data: {confirm: "Are you sure? Approving these changes makes them publicly visible."} %>
      </div>
    <% end %>

    <%= link_to "Back to services", admin_services_path, class: "go-back" %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds"><%= @service.display_name %></h1>
    </div>
<% end %>

<header class="actions">
  <%= render "shared/watch" %>
</header>

<%= render "form" %>