<% content_for :header do %>
    <%= link_to "Back to services", admin_services_path, class: "go-back" %>
    <h1 class="page-header__title">Locations</h1>
<% end %>

<header class="actions">
  <div class="actions__group">
    <%= render "shared/mini-search", path: admin_locations_path, clear_path: admin_locations_path %>
    <%= render "filters" %>
  </div>
</header>

<div class="with-sidebar">
  <section class="two-thirds">
    <% if @locations.present? %>
      <div class="table-holder">
        <table class="table">
          <thead>
            <tr>
                <th><%= render "sort", column: "name", label: "Name"%></th>
                <th>Address</th>
                <th>Town or area</th>
                <th>Postcode</th>
                <th>Services</th>
            </tr>
          </thead>
          <tbody>
            <% @locations.each do |l| %>
              <tr>
                <td><%= link_to l.display_name, admin_location_path(l) %></td>
                <td><%= l.address_1 %></td>
                <td><%= l.city %></td>
                <td><%= l.postal_code %></td>
                <td><%= l.services.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
        <%= paginate @locations %>
    <% else %>
      <p class="no-results no-results--big">No locations to show</p>
    <% end %>
  </section>

  <aside class="with-sidebar__sidebar">
    <div class="map-holder" data-list-map="true"></div>
    <script>
      __LOCATIONS__=<%= raw @locations.to_json %>
    </script>
  </aside>
</div>