<% content_for :header do %>
    <%= link_to "Back to locations", admin_locations_path, class: "go-back" %>
    <h1 class="page-header__title two-thirds"><%= @location.display_name %></h1>
<% end %>

<div class="two-panels">

    <div class="panel">
      <%= form_for [:admin, @location] do |f| %>
          <%= render "shared/errors", model: @location %>

          <div class="collapsible" id="location-address-editor">
            <button class="collapsible__header">
              <h2>Address</h2>
            </button>
            <div class="collapsible__content">
              <%= render "fields", f: f %>
            </div>
          </div>

          <div class="collapsible" id="location-accessibility-editor">
            <button class="collapsible__header">
              <h2>Accessibility</h2>
            </button>
            <div class="collapsible__content">
            </div>
          </div>

          <%= f.submit "Update", class: "button" %>
      <% end %>
    </div>

    <div class="panel">

      <div class="collapsible" id="map-preview">
        <button class="collapsible__header">
          <h2>Preview</h2>
        </button>
        <div class="collapsible__content">
          <% if @location.latitude && @location.longitude %>
            <%= link_to "Show larger map", "https://www.google.com/maps/search/#{@location.latitude},#{@location.longitude}", class: "collapsible__action" %>
            <%= map(@location.latitude, @location.longitude)%>
          <% else %>
            <p>Couldn't calculate coordinates for this location.</p>
          <% end %>
        </div>
      </div>

      <div class="collapsible" id="location-services">
        <button class="collapsible__header">
          <h2>
            Services
            <span class="collapsible__header-count">(<%= @location.services.count %>)</span>
          </h2>
        </button>
        <div class="collapsible__content">
        <% if @location.services.present? %>
          <ul class="big-list">
            <% @location.services.each do |s| %>
              <li class="big-list__item">
                <%= render "shared/poppables/service", s: s %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>No services at this location</p>
        <% end %>

        </div>
      </div>

    </div>
</div>
