<% content_for :title do %>Suitabilities | <% end %>

<% content_for :header do %>
    <%= link_to "Back to services", admin_services_path, class: "go-back" %>
    <h1 class="page-header__title">Suitabilities</h1>
    <p>Suitabilities are used to describe the suitability of a service for a particular group of people, examples might include people with autism or sensory needs, older people or people with physical or mental disabilities.</p>
<% end %>


<header class="actions">
    <%= link_to "Add new option", new_admin_suitability_path, class: "button button--small button--add  actions__pull-right" %>
</header>

<% if @suitabilities.present? %>
  <div class="table-holder">
    <table class="table">
      <thead>
        <tr>
          <th class="visually-hidden">ID</th>
          <th>Name</th>
          <th>Last updated</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <% @suitabilities.each do |sn| %>
          <tr>
            <td><span class="table__small"><%= sn.id %></span></td>
            <td><%= sn.name %></td>
            <td><%= time_ago_in_words(sn.updated_at).humanize %> ago</td>
            <td><%= time_ago_in_words(sn.created_at).humanize %> ago</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @suitabilities %>
<% else %>
  <p class="no-results no-results--big">There are currently no suitability options, click here to <%= link_to "add the default suitabilities", create_defaults_admin_suitabilities_path, method: "post" %> or create your own above.</p>
<% end %>


