<header class="page-header">
  <div class="container">
      <%= link_to "Go back", root_path, class: "go-back" %>
    <h1 class="page-header__title">Sign up</h1>
  </div>
</header>

<div class="page-content">
  <div class="container">


    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "one-third"}) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :email, class: "field__label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field__input" %>
      </div>

      <div class="field">
        <%= f.label :password, class: "field__label" %>
        <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> characters minimum)</em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "field__input" %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, class: "field__label" %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "field__input" %>
      </div>

      <%= f.submit "Sign up", class: "button" %>
    <% end %>

  </div>
</div>