<span class="poppable">
    <%= link_to o.display_name, admin_organisation_url(o), class: "poppable__control" %>

    <div class="poppable-card">
        <div class="poppable-card__inner">
            <h3 class="poppable-card__headline">
                <%= link_to o.display_name, admin_organisation_path(o) %>
            </h3>

            <p class="poppable-card__footer">
                <span class="poppable-card__count poppable-card__count--services">
                    <%= o.services.count %>
                    <span class="visually-hidden">services</span>
                </span>
                <span class="poppable-card__count poppable-card__count--users">
                    <%= o.users.count %>
                    <span class="visually-hidden">users</span>
                </span>
                Last updated <%= time_ago_in_words(o.updated_at) %> ago
            </p>
        </div>
    </div>
</span>