<% content_for :header do %>
    <h1 class="page-header__title">Archived</h1>
    <%= render "shared/services-nav" %>
<% end %>

<% if @services.present? %>
  <div class="table-holder">
    <table class="table">
      <thead>
        <tr>
          <th class="visually-hidden">ID</th>
          <th>Name</th>
          <th>Organisation</th>
          <th>Categories</th>
          <th>Last updated</th>
          <th>Status</th>
          <th class="visually-hidden">Notes</th>
          <th class="visually-hidden">Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @services.each do |s| %>
          <tr>
            <td><span class="id"><%= s.id %></span></td>
            <td>
              <strong><%= link_to s.display_name.truncate(25), admin_service_path(s) %><strong>
            </td>
            <td>
              <%= render "shared/poppables/organisation", o: s.organisation if s.organisation %>
            </td>
            <td>
              <% s.taxonomies.each do |t| %>
                <span class="category"><%= t.name %></span>
              <% end %>
            </td>
            <td><%= time_ago_in_words(s.updated_at) %> ago</td>
            <td><%= status_tag(s.status) %></td>
            <td>
              <% if s.notes.count > 0 %>
                <span class="table-icon table-icon--notes">
                  <%= s.notes.count %>
                </span>
              <% end %>
            </td>
            <td><%= link_to "Restore", admin_archive_path(s), method: "patch", data: {confirm: "Are you sure? The service will be visible to users again."} %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="no-results">No results to show</p>
<% end %>