<div class="field field--required">
    <%= s.label :name, class: "field__label" %>
    <%= s.text_field :name, class: "field__input" %>
</div>

<div class="field">
    <%= s.label :parent_id, "Parent", class: "field__label" %>
    <%= s.collection_select( :parent_id, @possible_parents, :id, :name, {include_blank: ""}, class: "field__input") %>
</div>

<div class="field">
    <%= s.label :sort_order, class: "field__label" %>
    <p class="field__hint">Override the default sort order. Higher is later.</p>
    <%= s.number_field :sort_order, class: "field__input one-half" %>
</div>

<div class="field">
    <%= s.label :directories, class: "field__label" %>
    <legend class="field-group__legend">
    <p class="field__hint">Choose which directories this taxonomy should appear in on Scout:</p>
    <br />
    <%= s.collection_check_boxes( :directory_ids, Directory.all, :id, :name) do |c| %>
        <div class="field checkbox checkbox--small ">
            <%= c.check_box class: "checkbox__input" %>
            <%= c.label class: "checkbox__label" %>
        </div>
    <% end %>
    </legend>
</div>