<%= form_for [:admin, @taxonomy] do |s| %>

  <%= render "shared/errors", model: @taxonomy %>

  <div class="field-section">
    <h2 class="field-section__legend">Add a new category</h2>
    <div class="field">
        <%= s.label :name, class: "field__label" %>
        <%= s.text_field :name, value: @taxonomy.name, class: "field__input" %>
    </div>

    <div class="field">
        <%= s.label :parent_id, "Parent", class: "field__label" %>
        <%= s.collection_select( :parent_id, @possible_parents, :id, :name, {include_blank: ""}, class: "field__input")%>
    </div>

    <%= s.submit "Create", class: "button button--small" %>
  </div>

<% end %>