<% content_for :header do %>
    <%= link_to "Back to services", admin_services_path, class: "go-back" %>
    <h1 class="page-header__title">Taxonomies</h1>
    <%= render "shared/taxonomies-nav" %>
<% end %>

<div class="half-and-half">

    <div class="panel">
        <% if @taxonomies.present? %>
            <%= tree_view(@taxonomies) %>
        <% end %>
    </div>

    <div class="panel">
        <%= form_for [:admin, @taxonomy], data: {warn_unsaved_changes: true} do |s| %>

        <%= render "shared/errors", model: @taxonomy %>

        <div class="field-group">
            <h2 class="field-group__legend">Add a new taxonomy</h2>
            
            <%= render "fields", s: s %>
            <%= s.button "Create", class: "button button--small button--add" %>
        </div>

        <% end %>
    </div>
</div>


