<% content_for :header do %>
    <%= link_to "Back to taxonomies", admin_taxonomies_path, class: "go-back" %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds"><%= @taxonomy.name %></h1>
    </div>
<% end %>

<div class="two-panels">

  <div class="panel">

      <% if @taxonomy.locked %>
        <p class="no-results">This is a system taxonomy and can't be edited</p>
      <% else %>
        <%= form_for [:admin, @taxonomy] do |s| %>
          <%= render "shared/errors", model: @taxonomy %>
          <div class="field-section">
            <%= render "fields", s: s %>
          </div>
          <div class="form-actions">
            <%= s.submit "Update", class: "button" %>
            <%= link_to "Delete taxonomy", admin_taxonomy_path(@taxonomy), method: "delete", class: "button button--danger", data: {confirm: "Are you sure you want to delete this taxonomy and any children? This can't be undone." } %>
          </div>
        <% end %>
      <% end %>
  </div>

  <div class="panel">

    <%= render "shared/collapsible", name: "Child taxonomies", count: @taxonomy.children.count, id: "taxonomy-children-list" do %>
        <% if @taxonomy.children.present? %>  
          <ul class="big-list bottom-margin">
            <% @taxonomy.children.each do |c| %>
              <li class="big-list__item">
                <%= link_to c.name, admin_taxonomy_path(c) %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p class="no-results">This taxonomy has no children</p>
        <% end %>
    <% end %>

    <%= render "shared/collapsible", name: "Basics", count: @taxonomy.services.count, id: "basic-info-editor" do %>
        <% if @taxonomy.services.present? %>  
          <ul class="big-list bottom-margin">
            <% @taxonomy.services.limit(30).each do |s| %>
              <li class="big-list__item">
                <%= render "shared/poppables/service", s: s %>
              </li>
            <% end %>
          </ul>
          <% if @taxonomy.services.length > 30 %>
            <p><em>Showing first 30 services</em></p>
          <% end %>
        <% else %>
          <p class="no-results">This taxonomy has no services</p>
        <% end %>
    <% end %>
    
  </div>

</div>
