<% content_for :header do %>
    <%= link_to "Go back", admin_taxonomies_path, class: "go-back" %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds"><%= @taxonomy.name %></h1>
    </div>
<% end %>

<%= form_for [:admin, @taxonomy], html: {class: "two-thirds"} do |s| %>

  <%= render "shared/errors", model: @taxonomy %>

  <div class="field-section">
    <div class="field">
        <%= s.label :name, class: "field__label" %>
        <%= s.text_field :name, value: @taxonomy.name, class: "field__input" %>
    </div>

    <div class="field">
        <%= s.label :parent_id, "Parent", class: "field__label" %>
        <%= s.collection_select( :parent_id, @possible_parents, :id, :name, {include_blank: ""}, class: "field__input")%>
    </div>
  </div>

  <%= s.submit "Update", class: "button" %>
<% end %>

<%= link_to "Delete category", admin_taxonomy_path(@taxonomy), method: "delete", class: "button button--danger", data: {confirm: "Are you sure you want to delete this category and any children? This can't be undone." } %>