<% if @activities.present? %>
  <div class="table-holder">
    <table>
      <thead class="visually-hidden">
        <tr>
            <th>Service</th>
            <th>At</th>
        </tr>
      </thead>
      <tbody>
        <% @activities.each do |a| %>
          <tr>
            <td>
            
              <% if a.item_type === "Service" %>
                <%= render "shared/poppables/service", s: Service.find_by(id: a.item_id) %> 
              <% elsif a.item_type === "OfstedItem" %>
                <%= ofsted_item_link(a.item_id) %>
              <% end %>

              <%= pretty_event(a.event).downcase %> by 
              
              <% if a.whodunnit %>
                <%= render "shared/poppables/user", u: User.find(a.whodunnit) %>
              <% else %>
                system
              <% end %>

            </td>
            <td>
              <%= short_time_ago_in_words(a.created_at).humanize %> ago
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="no-results">No recent activity to show</p>
<% end %>