
<% content_for :header do %>
    <dl class="big-numbers">
      <div class="big-number">
        <dd class="big-number__number"><%= @service_count %></dd>
        <dt class="big-number__caption">Number of services</dd>
      </div>
      <div class="big-number">
        <dd class="big-number__number"><%= @user_count %></dd>
        <dt class="big-number__caption">Registered users</dt>
      </div>
      <div class="big-number">
        <dd class="big-number__number"><%= @org_count %></dd>
        <dt class="big-number__caption">Organisations</dt>
      </div>
      <div class="big-number">
        <dd class="big-number__number"><%= @taxa_count %></dd>
        <dt class="big-number__caption">Taxonomies</dt>
      </div>
    </dl>
<% end %>

<div class="half-and-half">
  <section class="panel">
    <h2 class="panel__title">Watched services</h2>
    <%= render "watch-table" %>
  </section>

    <section class="panel">
    <h2 class="panel__title">Recent activity</h2>
    <%= render "recent-activity-table" %>
  </section>
</div>