
<% content_for :header do %>
    <dl class="big-numbers">
      <div class="big-number">
        <dd class="big-number__number"><%= @service_count %></dd>
        <dt class="big-number__caption">Number of services</dd>
      </div>
      <div class="big-number">
        <dd class="big-number__number"><%= @user_count %></dd>
        <dt class="big-number__caption">Registered users</dd>
      </div>
      <div class="big-number">
        <dd class="big-number__number"><%= @org_count %></dd>
        <dt class="big-number__caption">Organisations</dd>
      </div>
      <div class="big-number">
        <dd class="big-number__number"><%= @taxa_count %></dd>
        <dt class="big-number__caption">Categories</dd>
      </div>
    </dl>
<% end %>

<div class="two-panels">
  <section class="panel">
    <h2 class="panel__title">Watched services</h2>

    <% if @watches.present? %>
      <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th>Category</th>
              <th>Last updated</th>
            </tr>
          </thead>
          <tbody>
            <% @watches.each do |s| %>
              <tr>
                <td><%= link_to s.service.name, admin_service_path(s.service) %></td>
                <td><span class="category">Example</span></td>
                <td><%= time_ago_in_words(s.service.updated_at) %> ago</td>
              </tr>
            <% end %>
          </tbody>
      </table>
    <% else %>
      <p class="no-results">You're not watching any services</p>
    <% end %>
  </section>
</div>