<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>
  <body>

    <%= render "shared/header", full_width: false %>

    <% unless current_user && current_user.admin? %>
      <section class="beta-banner">
        <div class="beta-banner__inner container">
          <strong class="beta-banner__tag">Beta</strong>
          <p class="beta-banner__message">This is a new service — <a href="#">your feedback</a> helps us improve it.</p>
        </div>
      </section>
    <% end %>

    <div class="page-content">
      <div class="container">

        <header class="page-header">
              <% if notice || alert %>
                  <div role="alert" class="alert">
                    <%= notice %>
                    <%= alert %>
                  </div>
              <% end %>
              <%= yield :header %>
        </header>

        <%= yield %>
      </div>
    </div>

    <%= render "shared/footer" %>

    <%= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
