<%= form_with model: @organisation, html: {class: "two-thirds"} do |f| %>

    <% if @organisation.errors.full_messages.any? %>
        <div class="error">
            <h2 class="error__title">Errors stopped this service being saved:</h2>
            <ul class="error__list">
                <% @organisation.errors.full_messages.each do |e| %>
                    <li><%= e %></li>
                <% end %>
            </ul>
        </div>
    <% end %>

    <div class="field-section">
        <div class="field">
            <%= f.label :name, "Organisation name", class: "field__label" %>
            <%= f.text_field :name, class: "field__input" %>
        </div>
    </div>

    <div class="form-actions">

  <% if params[:action] === "new" %>
    <%= f.submit "Save", class: "button" %>

    <%= link_to "Skip for now", organisations_path, class: "button button--secondary" %>

  <% else %>
    <%= f.submit "Update", class: "button" %>
  <% end %>

  </div>

<% end %>