<% content_for :title do %>Dashboard | <% end %>

<% content_for :header do %>
    <h1 class="page-header__title">
      <% if @organisation.name.present? %>
        <%= @organisation.name %>
      <% else %>
        Dashboard
      <% end %>
    </h1>
<% end %>

<h2 class="page-subheading">Your services</h2>

<%= link_to "Add service", new_service_path, class: "button button--add"%>
<%= link_to "Edit organisation name", edit_organisation_path(@organisation), class: "button button--secondary" %>

<% if @services.present? %>
  <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Categories</th>
          <th>Last updated</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <% @services.each do |s| %>
          <tr>
            <td><%= link_to s.name, service_path(s) %></td>
            <td>              
              <%= s.taxonomies.categories.map {|c| c.name }.join(", ") %>
            </td>
            <td><%= time_ago_in_words(s.updated_at).humanize %> ago</td>
            <td>  
              <% if session[:currently_creating] === s.id %>
                <span class="tag tag--grey">Incomplete</span>
              <% else %>
                <%= status_tag(s.status) %>
              <% end %>
            </td>              
          </tr>
        <% end %>
      </tbody>
  </table>
<% else %>
  <p class="no-results">You don't have any services listed yet. Start by <strong><%= link_to "adding one", new_service_path %></strong>.</p>
<% end %>


<h2 class="page-subheading">Your users</h2>
<%= link_to "Invite new user", new_member_path, class: "button button--add" %>
<% if @users.present? %>
  <div class="table-holder">
    <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Invited</th>
            <th>Last seen</th>
            <th class="visually-hidden">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% @users.each do |u| %>
            <tr>
              <td><strong><%= u.display_name %></strong></td>
              <td><%= u.email %></td>
              <td><%= short_time_ago_in_words(u.created_at).humanize %> ago</td>
              <td>
                <% if u.last_seen %>
                  <%= short_time_ago_in_words(u.last_seen).humanize %> ago
                <% else %>
                  Never logged in
                <% end %>
              </td>
              <td>
                <%= link_to "Remove", member_path(u), method: "delete", ยง: {confirm: "Are you sure you want to remove this user? They won't be able to log in any more"} unless current_user === u %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
<% else %>
  <p class="no-results">This organisation has no users</p>
<% end %>
