<% content_for :header do %>
    <%= link_to "Go back", admin_service_path(params[:service_id]), class: "go-back" %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds">History</h1>
    </div>
<% end %>

<% if @versions.present? %>
  <div class="with-sidebar with-sidebar--left full-version-history">
    <section class="with-sidebar__sidebar">
        <ul class="stepper">
            <% @versions.each do |v| %>
                <li class="stepper__step <%= "stepper__step--solid" if (v.event === "import" || v.event === "create") %>">
                    <a href="#<%= v.id %>" class="stepper__link">
                      <p class="stepper__title">
                        <%= pretty_event(v.event) %>
                        <% if v.whodunnit.present? %>
                          by <strong><%= User.find(v.whodunnit).email %></strong>
                        <% end %>
                      </p>
                      <p class="stepper__time">
                        <%= time_ago_in_words(v.created_at).humanize %> ago
                      </p>
                    </a>
                </>
            <% end %>
        <ul>
    </section>

    <section class="two-thirds">
            <% @versions.each do |v| %>
                <div class="version-panel" id="<%= v.id %>">
                    <header class="version-panel__header">
                      <div>
                        <p class="version-panel__time"><%= time_ago_in_words(v.created_at).humanize %> ago</p>
                        <p>
                          <%= pretty_event(v.event) %>
                          <% if v.whodunnit.present? %>
                            by <strong><%= User.find(v.whodunnit).email %></strong>
                          <% end %>
                        </p>
                      </div>
                      <% unless v == @versions.last %>
                        <%= link_to "Restore this version", admin_service_version_path(@service, v), method: "patch", data: {confirm: "Are you sure you want to restore this version? All changes since will be lost."} %>
                      <% else %>
                        <p>First version</p>
                      <% end %>
                    </header>
                    <article class="version-panel__body">
                      <% v.changeset.each do  |key, value| %>
                        <div class="version-panel__change">
                          <strong class="version-panel__change-key"><%= key.humanize %></strong>
                          <%= diff(value[0], value[1]) %>
                        </div>
                      <% end %>
                  </article>
                </div>
            <% end %>
        <ul>
    </section>
  </div>
<% end %>