<%= render "shared/collapsible", name: "History", id: "ofsted-version-history" do %>
    
    <%= link_to "Compare versions", admin_ofsted_versions_path(@item), class: "collapsible__action" %>
    
    <% if @versions.present? %>
      <ul class="stepper <%= "stepper--summarised" if @item.versions.length > 4 %>">
          <% @versions.each do |v| %>
              <li class="stepper__step <%= stepper_class(v.event) %>">
                  <div>
                    <%= pretty_event(v.event)&.humanize %> by system
                  </div>
                  <p class="stepper__time">
                    <%= time_ago_in_words(v.created_at).humanize %> ago
                  </p>
              </li>
          <% end %>
      </ul>
    <% else %>
      <p class="no-results">No versions to show</p>
    <% end %>
<% end %>