<div class="snapshot-preview__canvas">
    <% l = live.as_json.except!("status", "updated_at", "created_at", "discarded_at") %>
    <% if current.reify %>
        <% c = current.reify.as_json %>
        <% l.keys.each do |key, value| %>
            <h4 class="snapshot-preview__label"><%= key.humanize %></h4>
            <div class="snapshot-preview__diff">
                <% if l[key].is_a?(Array) %>
                    <%= diff(ordered(c[key]), ordered(l[key])) %>
                <% elsif l[key].is_a?(Hash) %>
                    <%= diff(ordered_hash(c[key]), ordered_hash(l[key])) %>
                <% else %>
                    <%= diff(c[key].to_s, l[key].to_s) %>
                <% end %>
            </div>
        <% end %>
    <% else %>
        <% l.keys.each do |key, value| %>
            <h4 class="snapshot-preview__label"><%= key.humanize %></h4>
            <div class="snapshot-preview__diff">
                <% if l[key].is_a?(Array) %>
                    <%= diff("", ordered(l[key])) %>
                <% elsif l[key].is_a?(Hash) %>
                    <%= diff("", ordered_hash(l[key])) %>
                <% else %>
                    <%= diff("", l[key].to_s) %>
                <% end %>
            </div>
        <% end %>
    <% end %>
</div>
