<nav class="shortcuts">

    <%= link_to_unless_current "Browse feed", admin_ofsted_index_path, class: "shortcuts__link" do %>
        <span class="shortcuts__current">Browse feed</span>
    <% end %>

    <span class="shortcuts__count">(<%= @feed_count %>)</span>

    <span class="shortcuts__divider">|</span>

    <%= link_to_unless_current "Pending", pending_admin_ofsted_index_path, class: "shortcuts__link" do %>
        <span class="shortcuts__current">Pending</span>
    <% end %>

    <span class="shortcuts__count">(<%= @ofsted_pending_count %>)</span>

    <span class="shortcuts__divider">|</span>

    <%= link_to_unless_current "Archived", archive_admin_ofsted_index_path, class: "shortcuts__link" do %>
        <span class="shortcuts__current">Archived</span>
    <% end %>

    <span class="shortcuts__count">(<%= @archived_count %>)</span>


</nav>