<% content_for :header do %>
    <h1 class="page-header__title">Ofsted feed</h1>
    <%= render "shortcut-nav" %>
<% end %>

<%= render "filters" %>

<% if @items.present? %>
    <div class="table-holder">
        <table class="table">
            <thead>
            <tr>
                <th>Reference</th>
                <th>Setting name</th>
                <th>Provider name</th>
                <th>Provision type</th>
                <th>Registration status</th>
                <th>Last changed</th>
                <th>Registration date</th>
            </tr>
            </thead>
            <tbody>
            <% @items.each do |i| %>
                <tr>
                    <td><span class="table__small"><%= i.reference_number %></span></td>
                    <td><strong><%= link_to i.display_name, admin_ofsted_path(i) %></strong></td>
                    <td><%= i.provider_name %></td>
                    <td><%= i.provision_type %></td>
                    <td><%= status_tag(i.display_registration_status) %></td>
                    <td><%= short_time_ago_in_words(i.updated_at).humanize %> ago</td>
                    <td>
                      <%= format_if_date(i.registration_date) %>
                    </td>
                </tr>
            <% end %>
            </tbody>
        </table>
    </div>
    <%= paginate @items %>
<% else %>
    <p class="no-results no-results--big">No Ofsted feed items to show</p>
<% end %>