<% content_for :header do %>
    <h1 class="page-header__title">Ofsted feed</h1>
    <%= render "shortcut-nav" %>
<% end %>


<% if @requests.present? %>
  <ul class="todo-list">
    <% @requests.each do |s| %>
      <li class="todo-list__item">
        <div>
          <h2><%= link_to s.setting_name.truncate(25), admin_ofsted_path(s) %></h2>
          <p>
            <%= time_ago_in_words(s.updated_at).humanize %> ago
          </p>
        </div>
        <% if s.status === "new" %>
            <div class="todo-status todo-status--new">
                <% if s.registration_status === "Proposed" %>
                  <strong>New proposed provider</strong>
                <% else %>
                  <strong>New provider</strong>
                <% end %>
            </div>
        <% elsif s.status === "deleted"%>
            <div class="todo-status todo-status--deleted">
                <strong>No longer in Ofsted feed</strong>
            </div>
        <% else %>
            <div class="todo-status">
            <strong>Changed</strong>
            <p><%= s.versions.last.changeset.map{ |key, value| key.humanize }.join(", ") %></p>
            </div>
        <% end %>
        <%= link_to "Acknowledge", admin_ofsted_dismiss_path(s), method: "put", class: "button" %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p class="no-results  no-results--big">Nothing to do right now</p>
<% end %>