<% content_for :header do %> 

    <% if @item.discarded? %>
      <div class="notice notice--cross">
        <div class="notice__body">
          <p>This item is no longer present in the Ofsted feed.</p>
        </div>
      </div>
    <% end %>

    <%= render "shared/dynamic-back-link", text: "Go back", path: admin_ofsted_index_path %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds"><%= @item.display_name %></h1>
    </div>
<% end %>

<header class="actions">
  <%= link_to "Create linked service", new_admin_service_path(ofsted_item_id: @item.id, setting_name: @item.setting_name), class: "button button--small button--add", disabled: @item.service.present? %>
  <% if @item.service.present? %>
    <button class="help-button help-button--small" type="button" data-tippy-content="This feed item is already linked to a service. You can only link one at a time.">What does this mean?</button>
  <% end %>
  <button class="inline-button actions__pull-right" data-open-all>Open all</button>
  <button class="inline-button" data-close-all>Close all</button>
</header>

<div class="with-sidebar">

  <div>

      <%= render "shared/collapsible", name: "Basics", id: "ofsted-basics" do %>
        <div class="field-group field-group--two-cols">
          <%= render "admin/ofsted/field", label: "Setting name", value: @item.setting_name %>
          <%= render "admin/ofsted/field", label: "Provider name", value: @item.provider_name %>
          <%= render "admin/ofsted/field", label: "Reference number", value: @item.reference_number %>
          <%= render "admin/ofsted/field", label: "Status", value: @item.registration_status %>
          <%= render "admin/ofsted/field", label: "Registration date", value: format_if_date(@item.registration_date) %>
        </div>

        <div class="field-group field-group--two-cols">
          <%= render "admin/ofsted/field", label: "Provision type", value: @item.provision_type %>
          <%= render "admin/ofsted/field", label: "Secondary provision type", value: @item.secondary_provision_type %>
        </div>

        <div class="field-group field-group--two-cols">
          <%= render "admin/ofsted/field", label: "Special consideration", value: @item.special_consideration %>

          <div class="read-only-field">
              <p class="read-only-field__label">Ofsted report</p>
              <p class="read-only-field__value">
                  <% if @item.link_to_ofsted_report.present? %>
                      <%= link_to "See latest report", @item.link_to_ofsted_report %>
                  <% else %>
                      —
                  <% end %>
              </p>
          </div>

          <div class="read-only-field">
              <p class="read-only-field__label">Registered person reference</p>
              <p class="read-only-field__value">
                  <% if @item.rp_reference_number.present? %>
                    <% if @registered_person_provider.present? %>
                      <%= link_to @item.rp_reference_number, admin_ofsted_path(@registered_person_provider) %>
                    <% else %>
                      <%= @item.rp_reference_number %>
                    <% end %>
                  <% else %>
                      —
                  <% end %>
              </p>
          </div>

          <%= render "admin/ofsted/field", label: "Related RPPs", value: @item.related_rpps %>
        </div>
      <% end %>

      <%= render "shared/collapsible", name: "Setting", id: "ofsted-setting" do %>
        <div class="field-group field-group--two-cols">
          <%= render "admin/ofsted/field", label: "Street address 1", value: @item.setting_address_1 %>
          <%= render "admin/ofsted/field", label: "Street address 2", value: @item.setting_address_2 %>
          <%= render "admin/ofsted/field", label: "Village/town", value: @item.setting_villagetown %>
          <%= render "admin/ofsted/field", label: "Town", value: @item.setting_town %>
          <%= render "admin/ofsted/field", label: "County", value: @item.setting_county %>
          <%= render "admin/ofsted/field", label: "Postcode", value: @item.setting_postcode %>
        </div>
        <div class="field-group field-group--two-cols">
          <%= render "admin/ofsted/field", label: "Telephone", value: @item.setting_telephone %>
          <%= render "admin/ofsted/field", label: "Fax", value: @item.setting_fax %>
          <%= render "admin/ofsted/field", label: "Email", value: @item.setting_email %>
        </div>
        <div class="field-group field-group--two-cols">
          <%= render "admin/ofsted/field", label: "Ward", value: @item.location_ward %>
          <%= render "admin/ofsted/field", label: "Primary planning area", value: @item.location_planning %>
        </div>
      <% end %>

      <%= render "shared/collapsible", name: "Provider", id: "ofsted-provider" do %>
        <div class="field-group field-group--two-cols">
          <%= render "admin/ofsted/field", label: "Street address 1", value: @item.prov_address_1 %>
          <%= render "admin/ofsted/field", label: "Street address 2", value: @item.prov_address_2 %>
          <%= render "admin/ofsted/field", label: "Village/town", value: @item.prov_villagetown %>
          <%= render "admin/ofsted/field", label: "Town", value: @item.prov_town %>
          <%= render "admin/ofsted/field", label: "County", value: @item.prov_county %>
          <%= render "admin/ofsted/field", label: "Postcode", value: @item.prov_postcode %>
        </div>
        <div class="field-group field-group--two-cols">
          <%= render "admin/ofsted/field", label: "Telephone", value: @item.prov_telephone %>
          <%= render "admin/ofsted/field", label: "Work telephone", value: @item.prov_work_telephone %>
          <%= render "admin/ofsted/field", label: "Mobile", value: @item.prov_mobile %>
          <%= render "admin/ofsted/field", label: "Fax", value: @item.prov_fax %>
          <%= render "admin/ofsted/field", label: "Email", value: @item.prov_email %>
        </div>
        <div class="field-group field-group--two-cols">
          <%= render "admin/ofsted/field", label: "Consent withheld?", value: @item.prov_consent_withheld %>
        </div>
      <% end %>

        <%= render "shared/collapsible", name: "Everything else", id: "ofsted-everything-else" do %>
            <div class="tabs">
                <ul class="tabs__nav">
                  <li class="tabs__nav-item">
                    <a href="#childcare-period" class="tabs__nav-link">Childcare period</a>
                  </li>
                  <li class="tabs__nav-item">
                    <a href="#registration-history" class="tabs__nav-link">Registration history</a>
                  </li>
                  <li class="tabs__nav-item">
                    <a href="#childcare-services-register" class="tabs__nav-link">Childcare services register</a>
                  </li>
                  <li class="tabs__nav-item">
                    <a href="#certificate-conditions" class="tabs__nav-link">Certificate conditions</a>
                  </li>
                  <li class="tabs__nav-item">
                    <a href="#childcare-ages" class="tabs__nav-link">Childcare ages</a>
                  </li>
                  <li class="tabs__nav-item">
                    <a href="#inspections" class="tabs__nav-link">Inspections</a>
                  </li>
                  <li class="tabs__nav-item">
                    <a href="#notice-history" class="tabs__nav-link">Notice history</a>
                  </li>
                  <li class="tabs__nav-item">
                    <a href="#welfare-notice-history" class="tabs__nav-link">Welfare notice history</a>
                  </li>
                  <li class="tabs__nav-item">
                    <a href="#links-registrations" class="tabs__nav-link">Linked registrations</a>
                  </li>
                </ul>
                <div class="tabs__panel" id="childcare-period">
                  <% if @item.childcare_period.any? %>
                    <ul class="big-list">
                      <% @item.childcare_period.each do |r| %>
                        <li class="big-list__item"><%= r %></li>
                      <% end %>
                    </ul>
                  <% else %>
                    <p class="no-results">Nothing to show</p>
                  <% end %>
                </div>
                <div class="tabs__panel" id="registration-history">
                  <%= render "admin/ofsted/mini-table", t: @item.registration_status_history %>
                </div>
                <div class="tabs__panel" id="childcare-services-register">
                  <%= render "admin/ofsted/mini-table", t: @item.child_services_register %>
                </div>
                <div class="tabs__panel" id="certificate-conditions">
                  <%= render "admin/ofsted/mini-table", t: @item.certificate_condition %>
                </div>
                <div class="tabs__panel" id="childcare-ages">
                  <%= render "admin/ofsted/mini-table-childcare-age", t: @item.childcare_age %>
                </div>
                <div class="tabs__panel" id="inspections">
                  <%= render "admin/ofsted/mini-table", t: @item.inspection %>
                </div>
                <div class="tabs__panel" id="notice-history">
                  <%= render "admin/ofsted/mini-table", t: @item.notice_history %>
                </div>
                <div class="tabs__panel" id="welfare-notice-history">
                  <%= render "admin/ofsted/mini-table", t: @item.welfare_notice_history %>
                </div>
                <div class="tabs__panel" id="links-registrations">
                  <%= render "admin/ofsted/mini-table", t: @item.linked_registration %>
                </div>
            </div>

        <% end %>

  </div>
  <aside class="with-sidebar__sidebar">

    <% if @item.service %>
      <div class="dark-panel">
        <p>
          This Ofsted feed item is linked to <strong><%= link_to "a service", admin_service_path(@item.service) %></strong>
        </p>
      </div>
    <% end %>

    <%= render "shared/collapsible", name: "History", id: "service-history" do %>
      <%= link_to "Compare versions", admin_ofsted_versions_path(@item), class: "collapsible__action" %>
      <%= render "shared/version-tree", object: @item %>
    <% end %>

    <%= render "shared/collapsible", name: "Other settings by this provider", id: "ofsted-other-settings" do %> 
        <% if @related_items.present? %>
          <ul class="big-list">
            <% @related_items.each do |i| %>
              <li class="big-list__item">
                <%= link_to i.display_name, admin_ofsted_path(i) %>
              </li>
            <% end %>
          </ul>
        <% else %>
          <p>No other settings registered to this provider.</p>
        <% end %>
    <% end %>
  </aside>
</div>