<header class="page-header">
  <div class="container">
      <%= link_to "Go back", root_path, class: "go-back" %>
    <h1 class="page-header__title">Reset password</h1>
  </div>
</header>

<div class="page-content">
  <div class="container">

    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field one-third">
        <%= f.label :email, class: "field__label" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field__input" %>
      </div>

      <%= f.submit "Send reset instructions", class: "button" %>
    <% end %>

  </div>
</div>