<% content_for :header do %>
    <%= link_to "Back to services", admin_services_path, class: "go-back" %>
    <h1 class="page-header__title">Feedback</h1>
<% end %>

<% if @feedbacks.present? %>
    <div class="feedback-list">
        <% @feedbacks.each do |f| %>
            <article class="feedback-card">
                <h2 class="feedback-card__topic"><%= pretty_topic(f.topic) %></h2>
                <p class="feedback-card__body"><%= f.body %></p>
                <div class="feedback-card__meta"><%= render "shared/poppables/service", s: f.service %> | <%= short_time_ago_in_words(f.created_at).humanize %> ago</div>
            </article>
        <% end %>
    </div>
    <%= paginate @feedbacks %>
<% else %>
    <p class="no-results no-results--big">No feedback to show yet</p>
<% end %>