<div class="snapshot-preview__canvas">

    <dl class="snapshot-preview__list">
        <% if current["name"].present? || live["name"].present? %>
            <dt class="snapshot-preview__label">Name</dt>
            <dd class="snapshot-preview__diff"><%= inline_differ(current["name"],live["name"]) %></dd>
        <% end %>

        <% if current["description"].present? || live["description"].present? %>
            <dt class="snapshot-preview__label">Description</dt>
            <dd class="snapshot-preview__diff"><%= inline_differ(current["description"],live["description"]) %></dd>
        <% end %>

        <% if current["organisation_id"].present? || live["organisation_id"].present? %>
            <dt class="snapshot-preview__label">Parent organisation</dt>
            <dd class="snapshot-preview__diff"><%= Organisation.find(current["organisation_id"]).display_name %></dd>
        <% end %>

        <% if current["url"].present? || live["url"].present? %>
            <dt class="snapshot-preview__label">Website</dt>
            <dd class="snapshot-preview__diff"><%= inline_differ(current["url"],live["url"]) %></dd>
        <% end %>

        <% if current["email"].present? || live["email"].present? %>
            <dt class="snapshot-preview__label">Email</dt>
            <dd class="snapshot-preview__diff"><%= inline_differ(current["email"],live["email"]) %></dd>
        <% end %>

        <% if current["visible_from"] || live["visible_from"] %>
            <dt class="snapshot-preview__label">Visible from</dt>
            <dd class="snapshot-preview__diff"><%= inline_differ(current["visible_from"],live["visible_from"]) %></dd>
        <% end %>

        <% if current["visible_to"] || live["visible_to"] %>
            <dt class="snapshot-preview__label">Visible to</dt>
            <dd class="snapshot-preview__diff"><%= inline_differ(current["visible_to"],live["visible_to"]) %></dd>
        <% end %>
    </dl>
</div>

<%# TODO FIX THIS %>
<% if current["locations"].any? %>
    <h3 class="bottom-margin">Locations</h3>
    <ul class="snapshot-preview__association">
        <% current["locations"].each do |l| %>
            <li>
                <strong><%= l["name"] %></strong>
                <p><%= l["address_1"] %></p>
                <p><%= l["city"] %></p>
                <p><%= l["postal_code"] %></p>
            </li>
        <% end %>
    </ul>
<% end %>

<% if current["taxonomies"].any? %>
    <h3 class="bottom-margin">Taxonomies</h3>
    <ul class="snapshot-preview__association">
        <% current["taxonomies"].each do |t| %>
            <li>
                <strong><%= t["name"] %></strong>
            </li>
        <% end %>
    </ul>
<% end %>