<% if user_signed_in? && current_user.admin? %>
<nav class="app-switcher">

    <button class="app-switcher__current" tabindex="0">Apps</button>

    <ul class="app-switcher__submenu">
        <li class="app-switcher__submenu-item">
            <span class="app-switcher__submenu-heading">BFIS</span>
        </li>

        <li class="app-switcher__submenu-item">
            <%= link_to "Public website", "https://familyinfo.buckinghamshire.gov.uk", class: "app-switcher__submenu-link" %>
        </li>
        <li class="app-switcher__submenu-item">
            <%= link_to "Directory", "https://directory.familyinfo.buckinghamshire.gov.uk/", class: "app-switcher__submenu-link" %>
        </li>
        <li class="app-switcher__submenu-item">
            <%= link_to "Employment", "https://employment.familyinfo.buckinghamshire.gov.uk/", class: "app-switcher__submenu-link" %>
        </li>
        <li class="app-switcher__submenu-item">
            <%= link_to "Wagtail", "https://familyinfo.buckinghamshire.gov.uk/admin", class: "app-switcher__submenu-link" %>
        </li>
        <li class="app-switcher__submenu-item">
            <%= link_to "Manage data", "https://manage-data.familyinfo.buckinghamshire.gov.uk/", class: "app-switcher__submenu-link" %>
        </li>




        <li class="app-switcher__submenu-item">
            <span class="app-switcher__submenu-heading">BOD</span>
        </li>
        <li class="app-switcher__submenu-item">
            <%= link_to "Directory", "https://directory.buckinghamshire.gov.uk/", class: "app-switcher__submenu-link" %>
        </li>
        <li class="app-switcher__submenu-item">
            <%= link_to "Manage data", "https://manage-data.familyinfo.buckinghamshire.gov.uk/", class: "app-switcher__submenu-link" %>
        </li>
    </ul>

</nav>
<% end %>