<div class="collapsible" id="<%= id %>">
    <button class="collapsible__header" type="button">
        <h2>
            <%= name %>
            <% if defined?(count) %>
                <span class="collapsible__header-count">(<%= count %>)</span>
            <% end %>
        </h2>
    </button>
    <% if defined?(help_text) %>
        <button class="help-button" type="button" data-tippy-content="<%= help_text %>">Help with this section</button>
    <% end %>
    <div class="collapsible__content">
        <%= yield %>
    </div>
</div>