<%= render "shared/env-banner" %>

<header class="site-header <%= "site-header--logged-out" unless user_signed_in? %>">
    <div class="<%= "container" unless full_width %> site-header__inner">
        <div class="site-header__masthead">
            <div class="site-header__logo-link">
            <%= image_tag(url_for(FileUpload.find_by(var: 'outpost_logo').file), alt: "Buckinghamshire Council", class: "site-header__logo") %>
            </div>
        </div>

        
        <% if user_signed_in? %>
        <div class="site-header__actions">
            <%= render "shared/app-switcher" %>
            <%= link_to current_user.display_name, edit_user_registration_path, class: "site-header__username"%>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "site-header__link" %>
        </div>
        <% end %>


        <nav class="site-header__service-name-holder">
            <%= link_to Setting.outpost_title, root_path, class: "site-header__service-name"%>
            <% if current_user && current_user.admin? %>
            <strong class="site-header__phase-tag">Beta</strong>
            <% end %>
        </nav>
    </div>
</header>