<head>
    <title>
        <%= yield :title %> <%= Setting.outpost_title %> | <%= Setting.outpost_sub_title %>
    </title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag 'favicon.ico' %>
    <meta http-equiv="X-UA-Compatible" content="IE=10">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <style type="text/css">
        .site-header {
            background: <%= Setting.primary_color %>;
        }


        
        .site-header__logo{
            height: <%= Setting.outpost_logo_height_mobile %>px;
        }
        /* $breakpoint-m */
        @media screen and (min-width: 750px) {
             .site-header__logo{ 
                height: <%= Setting.outpost_logo_height %>px;
             }
        }


    </style>
</head>
