<div class="mini-search">
    <%= form_with url: path, local: true, html: {class: "mini-search__form"}, method: "get" do |f| %>
        <%= f.label :query, "Search query", class: "visually-hidden" %>
        
        <%= hidden_field_tag "archived", params[:archived] %>
        <%= hidden_field_tag "deactivated", params[:deactivated] %>

        <%= f.text_field :query, value: params[:query], class: "mini-search__input" %>
        <% if params[:query].present? %>
            <%= link_to image_tag("clear.svg", alt: "Clear search"), clear_path, class: "mini-search__submit" %>
        <% else %>
            <button class="mini-search__submit">
                <%= image_tag "search.svg", alt: "Submit search" %>
            </button>
        <% end %>
    <% end %>
</div>