<% if user_signed_in? && current_user.admin? %>
    <nav class="site-nav">
        <div class="site-nav__inner <%= "container" unless full_width %>">

                <%= link_to_unless_current "Dashboard", admin_root_path, class: "site-nav__link" do %>
                    <span class="site-nav__current">Dashboard</span>
                <% end %>
                
                <div class="site-nav__submenu-holder site-nav__submenu-holder--with-badge">
                    <%= link_to_unless_current "Services", admin_services_path, class: "site-nav__link" do %>
                        <span class="site-nav__current" tabindex="0">Services</span>
                    <% end %>
                    <% if @pending_count > 0 %>
                        <div class="badge"><%= @pending_count %></div>
                    <% end %>
                
                    <ul class="site-nav__submenu">
                        <li class="site-nav__submenu-item">
                            <%= link_to_unless_current "Organisations", admin_organisations_path, class: "site-nav__submenu-link" do %>
                                <span class="site-nav__submenu-current">Organisations</span>
                            <% end %>
                        </li>
                        <li class="site-nav__submenu-item">
                            <%= link_to_unless_current "Locations", admin_locations_path, class: "site-nav__submenu-link" do %>
                                <span class="site-nav__submenu-current">Locations</span>
                            <% end %>
                        </li>
                        <li class="site-nav__submenu-item">
                            <%= link_to_unless_current "Taxonomies", admin_taxonomies_path, class: "site-nav__submenu-link" do %>
                                <span class="site-nav__submenu-current">Taxonomies</span>
                            <% end %>
                        </li>
                        <li class="site-nav__submenu-item">
                            <%= link_to_unless_current "Feedback", admin_feedbacks_path, class: "site-nav__submenu-link" do %>
                                <span class="site-nav__submenu-current">Feedback</span>
                            <% end %>
                        </li>
                        <li class="site-nav__submenu-item">
                            <%= link_to_unless_current "Labels", admin_labels_path, class: "site-nav__submenu-link" do %>
                                <span class="site-nav__submenu-current">Labels</span>
                            <% end %>
                        </li>

                        <% if current_user.admin_users? %>
                            <li class="site-nav__submenu-item">
                                <%= link_to_unless_current "Custom fields", admin_custom_field_sections_path, class: "site-nav__submenu-link" do %>
                                    <span class="site-nav__submenu-current">Custom fields</span>
                                <% end %>
                            </li>
                        <% end %>

                    </ul>
                </div>

                <%= link_to_unless_current "Activity", admin_activity_index_path, class: "site-nav__link" do %>
                    <span class="site-nav__current">Activity</span>
                <% end %>

                <%= link_to_unless_current "Users", admin_users_path, class: "site-nav__link" do %>
                    <span class="site-nav__current">Users</span>
                <% end %>

                <% if current_user.admin_ofsted? %>
                    <div class="site-nav__pull-right">
                        <%= link_to_unless_current "Ofsted feed", admin_ofsted_index_path, class: "site-nav__link" do %>
                            <span class="site-nav__current site-nav--pull-right">Ofsted feed </span>
                        <% end %>
                        <% if @ofsted_pending_count > 0 %>
                            <div class="badge"><%= @ofsted_pending_count %></div>
                        <% end %>
                    </div>
                <% end %>
        </div>
    </nav>
<% end %>