<nav class="shortcuts">

    <% if (params[:ofsted] === "true") || (params[:archived] === "true") || (params[:controller]=== "admin/requests") || (params[:directory].present?) %>
        <%= link_to "All", admin_services_path, class: "shortcuts__link" %>
    <% else %>
        <span class="shortcuts__current">All</span>
    <% end %>

    <span class="shortcuts__count">(<%= @all_count %>)</span>

    <span class="shortcuts__divider">|</span>

    <% if APP_CONFIG["directories"].present? %>
        <% APP_CONFIG["directories"].each do |directory| %>
            <% if (params[:directory] === directory["value"]) %>
                <span class="shortcuts__current"><%= directory["name"] %></span>
            <% else %>
                <span class="shortcuts__link"><%= link_to directory["name"], admin_services_path(directory: directory["value"])%></span>
            <% end %>
            <span class="shortcuts__count">(<%= @directories_counts[directory["name"]] %>)</span>
            <span class="shortcuts__divider">|</span>
        <% end %>
    <% end %>

    <% if (params[:ofsted] === "true") %>
        <span class="shortcuts__current">Ofsted registered</span>
    <% else %>
        <%= link_to "Ofsted registered", admin_services_path(ofsted: true), class: "shortcuts__link" %>
    <% end %>

    <span class="shortcuts__count">(<%= @ofsted_count %>)</span>

    <span class="shortcuts__divider">|</span>

    <%= link_to_unless_current "Pending", admin_requests_path, class: "shortcuts__link" do %>
        <span class="shortcuts__current">Pending</span>
    <% end %>
    <span class="shortcuts__count">(<%= @pending_count %>)</span>

    <span class="shortcuts__divider">|</span>

    <% if (params[:archived] === "true") %>
        <span class="shortcuts__current">Archived</span>
    <% else %>
        <%= link_to "Archived", admin_services_path(archived: true), class: "shortcuts__link" %>
    <% end %>

    <span class="shortcuts__count">(<%= @archived_count %>)</span>

</nav>
