<% if @versions.present? %>
    <ul class="stepper <%= "stepper--summarised" if @service.versions.length > 4 %>">
        <% @versions.each do |v| %>
            <li class="stepper__step <%= stepper_class(v.event) %>">
                <div>
                <%= pretty_event(v.event)&.humanize %>
                <% if v.whodunnit.present? %>
                    by <strong><%= render "shared/poppables/user", u: User.find(v.whodunnit) %></strong>
                <% else %>
                    by system
                <% end %>
                </div>
                <p class="stepper__time">
                <%= time_ago_in_words(v.created_at).humanize %> ago
                </p>
            </li>
        <% end %>
    </ul>
<% else %>
    <p class="no-results">No versions to show</p>
<% end %>