<% content_for :header do %>
    <h1 class="page-header__title">Activity log</h1>
<% end %>

<% if @activities.present? %>
  <div class="table-holder">
    <table class="table">
      <thead>
        <tr>
          <th>Service</th>
          <th>Action</th>
          <th>User</th>
          <th>When</th>
        </tr>
      </thead>
      <tbody>


        <% @activities.each do |a| %>
          <tr>
            <td>
              <%= render "shared/poppables/service", s: a.service %>
            </td>
            <td>
              <%= pretty_event(a.action).humanize %>
            </td>
            <td>
              <% if a.user %>
                <%= render "shared/poppables/user", u: a.user %>
              <% else %>
                —
              <% end %>
            </td>
            <td><%= short_time_ago_in_words(a.created_at).humanize %> ago</td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
  <%= paginate @activities %>
<% else %>
  <p class="no-results">No activity to show.</p>
<% end %>


