<% content_for :header do %>
  <h1 class="page-header__title">Activity</h1>
<% end %>

<% if @activities.present? %>
  <div class="table-holder">
    <table class="table">
      <thead>
        <tr>
          <th>Object</th>
          <th>Action</th>
          <th>User</th>
          <th>When</th>
        </tr>
      </thead>
      <tbody>
        <% @activities.each do |a| %>
          <tr>
            <td>
              <% if a.item_type === "Service" %>
                <%= render "shared/poppables/service", s: Service.find_by(id: a.item_id) %> 
              <% elsif a.item_type === "OfstedItem" %>
                <%= ofsted_item_link(a.item_id) %>
              <% end %>
            </td>
            <td>
              <%= pretty_event(a.event).humanize %>
            </td>
            <td>
              <% if a.whodunnit %>
                <%= render "shared/poppables/user", u: User.find(a.whodunnit) %>
              <% else %>
                System
              <% end %>
            </td>
            <td><%= short_time_ago_in_words(a.created_at).humanize %> ago</td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
  <%= paginate @activities %>
<% else %>
  <p class="no-results no-results--big">No activity to show</p>
<% end %>


