<% content_for :title do %>Labels | <% end %>

<% content_for :header do %>
    <%= link_to "Back to services", admin_services_path, class: "go-back" %>
    <h1 class="page-header__title">Labels</h1>
<% end %>

<% if @labels.present? %>
  <div class="table-holder">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Services</th>
          <th>Users</th>
          <th>Last updated</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
        <% @labels.each do |l| %>
          <tr>
            <td><%= l.name %></td>
            <td>                

              <% if Service.tagged_with(l).any? %>
                <%= link_to 'See services', admin_services_path(filterrific: { tagged_with: l.name }), class: "right-margin" %> 
                <span class="badge badge--calm"><%= Service.tagged_with(l).count %></span>
              <% else %>
                —
              <% end %>
            </td>
            <td>

              <% if User.tagged_with(l).any? %>
                <%= link_to 'See users', admin_users_path(filterrific: { tagged_with: l.name }), class: "right-margin" %> 
                <span class="badge badge--calm"><%= User.tagged_with(l).count %></span>
              <% else %>
                —
              <% end %>
            </td>
            <td><%= time_ago_in_words(l.updated_at).humanize %> ago</td>
            <td><%= time_ago_in_words(l.created_at).humanize %> ago</td>
          </tr>
        <% end %>

      </tbody>
    </table>
  </div>
<% else %>
  <p class="no-results no-results--big">No labels to show yet</p>
<% end %>


