<% content_for :header do %>
    <%= link_to "Back to services", admin_services_path, class: "go-back" %>
    <h1 class="page-header__title">Custom fields</h1>
<% end %>

<header class="actions">
  <%= link_to "Add section", new_admin_custom_field_section_path, class: "button button--small button--add" %>
</header>

<% if @sections.present? %>
  <table>
    <thead>
      <th>Name</th>
      <th>Fields</th>
      <th>Visible to community users</th>
      <th>Exposed in API</th>
      <th>Sort order</th>
    </thead>
    <tbody>
      <% @sections.each do |s| %>
        <tr>
          <td><%= link_to s.name, admin_custom_field_section_path(s) %></td>
          <td><%= s.custom_fields.map{ |f| f.key }.join(", ") %></td>
          <td>
            <% if s.public %>
              <%= image_tag "tick-blue.svg", alt: "Yes" %>
            <% else %>
              —
            <% end %>
          </td>
          <td>
            <% if s.api_public %>
              <%= image_tag "tick-blue.svg", alt: "Yes" %>
            <% else %>
              —
            <% end %>
          </td>
          <td><%= s.sort_order %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p class="no-results no-results--big">No fields have been set up</p>
<% end %>