<% content_for :header do %>
    <%= render "shared/dynamic-back-link", text: "Back to custom fields", path: admin_custom_field_sections_path %>
    <h1 class="page-header__title">Add a new section</h1>
<% end %>

<%= form_for @section, url: admin_custom_field_sections_path, html: {class: "two-thirds"}, data: {warn_unsaved_changes: true} do |f| %>
    <%= render "shared/errors", model: @section %>
    
    <%= render "admin/custom_field_sections/fields", f: f %>

    <div class="form-actions">
        <%= f.button "Create", class: "button" %>
    </div>
<% end %>