<% content_for :header do %>
    <h1 class="page-header__title">Sign in</h1>
<% end %>

<%= form_for(resource, as: resource_name, url: session_path(resource_name) ) do |f| %>
  <div class="field one-half">
    <%= f.label :email, class: "field__label" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "field__input" %>
  </div>

  <div class="field one-half">
    <%= f.label :password, class: "field__label" %>
    <%= f.password_field :password, autocomplete: "current-password", class: "field__input" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field checkbox">
      <%= f.check_box :remember_me, class: "checkbox__input" %>
      <%= f.label :remember_me, class: "checkbox__label" %>
    </div>
  <% end %>
  <div class="form-actions">
    <%= f.submit "Sign in", class: "button button--with-bottom-margin" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
