<%= form_for [:admin, @organisation], html: {class: "two-thirds"} do |s| %>

  <%= render "shared/errors", model: @organisation %>

  <div class="field-section">
    <div class="field">
      <%= s.label :name, class: "field__label" %>
      <%= s.text_field :name, value: @organisation.name, class: "field__input" %>
    </div>
  </div>

  <% if params[:id] %>
    <%= s.submit "Update", class: "button" %>
  <% else %>
    <%= s.submit "Create", class: "button" %>
  <% end %>

<% end %>