<% content_for :header do %>
    <%= link_to "Back to services", admin_services_path, class: "go-back" %>
    <h1 class="page-header__title">Organisations</h1>
<% end %>

<header class="actions">
  <div class="actions__group">
    <%= render "shared/mini-search", path: admin_organisations_path %>
    <%= render "filters" %>
  </div>
  <div class="actions__group">
    <%= link_to "Add organisation", new_admin_organisation_path, class: "button button--small button--add" %>
  </div>
</header>

<% if @organisations.present? %>
  <div class="table-holder">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Services</th>
          <th>Users</th>
          <th>Updated at</th>
        </tr>
      </thead>
      <tbody>
        <% @organisations.each do |o| %>
          <tr>
            <td><%= link_to o.display_name, admin_organisation_path(o) %></td>
            <td><%= o.services.length %></td>
            <td><%= o.users.length %></td>
            <td><%= time_ago_in_words(o.updated_at).humanize %> ago</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @organisations %>
<% else %>
  <p class="no-results">No results to show</p>
<% end %>