<% content_for :header do %>
    <%= link_to "Back to services", admin_services_path, class: "go-back" %>
    <h1 class="page-header__title">Organisations</h1>
<% end %>

<%= render "filters" %>

<% if @organisations.present? %>
  <div class="table-holder">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Services</th>
          <th>Users</th>
          <th>Last updated</th>
        </tr>
      </thead>
      <tbody>
        <% @organisations.each do |o| %>
          <tr>
            <td><%= link_to o.display_name, admin_organisation_path(o) %></td>
            <td><%= o.services.length %></td>
            <td><%= o.users.length %></td>
            <td><%= time_ago_in_words(o.updated_at).humanize %> ago</td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @organisations %>
<% else %>
  <p class="no-results no-results--big">No organisations to show</p>
<% end %>