<% content_for :header do %>
    <%= link_to "Back to organisations", admin_organisations_path, class: "go-back" %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds">
        Add a new organisation
      </h1>
    </div>
<% end %>

<%= form_for [:admin, @organisation], html: {class: "two-thirds"}, data: {warn_unsaved_changes: true} do |f| %>
  <%= render "shared/errors", model: @organisation %>
  <div class="field-section">
    <%= render "fields", f: f %>
  </div>
  <%= f.submit "Create", class: "button" %>
<% end %>