<% content_for :header do %>
    <%= render "shared/dynamic-back-link", text: "Back to organisations", path: admin_organisations_path %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds">
        Add a new organisation
      </h1>
    </div>
<% end %>

<%= form_for [:admin, @organisation], html: {class: "one-half"}, data: {warn_unsaved_changes: true} do |f| %>
  <%= render "shared/errors", model: @organisation %>
  <div class="field-section">
    <%= render "fields", f: f %>
  </div>
  <div class="form-actions">
    <%= f.submit "Create", class: "button" %>
  </div>
<% end %>