<% content_for :header do %>
    <%= link_to "Back to organisations", admin_organisations_path, class: "go-back" %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds">
        <%= @organisation.display_name %>
      </h1>
    </div>
<% end %>

<div class="two-panels">
  <div class="panel">
    <%= render "form" %>
  </div>

  <div class="panel">

      <div class="collapsible" id="organisation-services-list">
        <button class="collapsible__header">
          <h2>
            Services
            <span class="collapsible__header-count">(<%= @organisation.services.count %>)</span>
          </h2>
        </button>
        <div class="collapsible__content">
          <% if @organisation.services.present? %>  
            <ul class="big-list">
              <% @organisation.services.each do |s| %>
                <li class="big-list__item">
                  <%= link_to s.name, admin_service_path(s) %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="no-results">This organisation has no services.</p>
          <% end %>
        </div>
      </div>

      <div class="collapsible" id="organisation-users-list">
        <button class="collapsible__header">
          <h2>
            Users
            <span class="collapsible__header-count">(<%= @organisation.users.count %>)</span>
          </h2>
        </button>
        <div class="collapsible__content">
          <% if @organisation.users.present? %>
            <ul class="big-list">
              <% @organisation.users.each do |u| %>
                <li class="big-list__item">
                  <%= u.email %>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p class="no-results">This organisation has no users.</p>
          <% end %>
        </div>
      </div>

  </div>
</div>