<% content_for :title do %>Settings | <% end %>

<% content_for :header do %>
<h1 class="page-header__title two-thirds">Settings</h1>
<% end %>

<%= render "shared/errors", model: @admin_settings %>

<div class="with-sidebar">
    <div>
      <%= form_for(@admin_settings, url: admin_settings_path, html: { method: :patch } ) do |f| %>
        <div class="field-section">
          <div class="field">
            <%= f.label :outpost_title, class: "field__label" %>
            <p class="field__hint">The title of this install. Shown in the title and header for all users.</p>
            <%= f.text_field :outpost_title, value: Setting.outpost_title, class: "field__input" %>
          </div>
          <div class="field">
            <%= f.label :outpost_sub_title, class: "field__label" %>
            <p class="field__hint">The sub title for this install. Shown in the site hea &lt;Outpost Title&gt; | &lt;Outpost sub title&gt;</p>
            <%= f.text_field :outpost_sub_title, value: Setting.outpost_sub_title, class: "field__input" %>
          </div>
          <div class="field">
            <%= f.label :outpost_instance_name, class: "field__label" %>
            <p class="field__hint">The name of this instance, appears on emails, for example "You have been invited to join &lt;our directory service&gt;"</p>
            <%= f.text_field :outpost_instance_name, value: Setting.outpost_instance_name, class: "field__input" %>
          </div>
          <div class="field">
            <%= f.label :primary_color, class: "field__label" %>
            <p class="field__hint">The primary colour used in this outpost install. Mostly used in the header.</p>
            <div class="field__color">
            <%= f.color_field :primary_color, value: Setting.primary_color, class: "field__color-input" %>
            </div>
          </div>
          <div class="field">
            <%= f.label :outpost_logo, class: "field__label" %>
            <p class="field__hint">The logo used for outpost</p>
            <%= f.file_field :outpost_logo, value: Setting.outpost_logo, class: "field__input" %>
          </div>
        </div>
        <div class="form-actions">
          <%= f.submit "Save", class: "button" %>
        </div>
      <% end %>
    </div>
</div>
