<% content_for :title do %>Settings | <% end %>

<% content_for :header do %>
<h1 class="page-header__title two-thirds">Settings</h1>
<% end %>


<% content_for :precontent do%>
  <nav class="breadcrumbs">
    <ul class="breadcrumbs__inner container">
      <li class="breadcrumbs__link"><a href="/">Home</a></li>
      <li class="breadcrumbs__link">Edit Settings</li>
    </ul>
  </nav>
<% end %>




<header class="actions">
  <button class="inline-button actions__pull-right" data-open-all>Open all</button>
  <button class="inline-button" data-close-all>Close all</button>
</header>


<div class="with-sidebar">


    <div>
      <%= form_for(@admin_settings, url: admin_settings_path, html: { method: :patch } ) do |f| %>

      <%= render "shared/errors", model: @admin_settings %>

      <%= render "shared/collapsible", name: "Application settings", id: "settings-application " do %>
         <div class="field-section">
          <div class="field">
            <%= f.label :outpost_title, class: "field__label" %>
            <p class="field__hint">The title of this install. Shown in the title and header for all users.</p>
            <%= f.text_field :outpost_title, value: Setting.outpost_title, class: "field__input" %>
          </div>
          <div class="field">
            <%= f.label :outpost_sub_title, class: "field__label" %>
            <p class="field__hint">The sub title for this install. Shown in the site hea &lt;Outpost Title&gt; | &lt;Outpost sub title&gt;</p>
            <%= f.text_field :outpost_sub_title, value: Setting.outpost_sub_title, class: "field__input" %>
          </div>
          <div class="field">
            <%= f.label :outpost_instance_name, class: "field__label" %>
            <p class="field__hint">The name of this instance, appears on emails, for example "You have been invited to join &lt;our directory service&gt;"</p>
            <%= f.text_field :outpost_instance_name, value: Setting.outpost_instance_name, class: "field__input" %>
          </div>
        </div>
      <% end %>

       <%= render "shared/collapsible", name: "Application theming", id: "settings-theming " do %>
        <div class="field-section">
          <div class="field">
            <%= f.label :primary_color, class: "field__label" %>
            <p class="field__hint">The primary colour used in this outpost install. Mostly used in the header. The default is <em>#2c2d84</em></p>
            <div class="field__color">
            <%= f.color_field :primary_color, value: Setting.primary_color, class: "field__color-input" %>
            </div>
            <p><strong><%= Setting.primary_color %></strong></p>
          </div>
          <div class="field">
            <%= f.label :outpost_logo, class: "field__label" %>
            <p class="field__hint">The logo used for outpost</p>
            <%= f.file_field :outpost_logo, value: Setting.outpost_logo, class: "field__input" %>
          </div>
          <% if FileUpload.find_by(var: 'outpost_logo') %>
            <p class="settings-logo-preview" style="background-color: <%= Setting.primary_color %>">
                <%= image_tag(url_for(FileUpload.find_by(var: 'outpost_logo').file))%>
            </p>
          <% end %>
          <div class="field">
            <%= f.label :outpost_logo_height, class: "field__label" %>
            <p class="field__hint">The height of the logo.</p>
            <%= f.text_field :outpost_logo_height, value: Setting.outpost_logo_height, class: "field__input" %>
          </div>
          <div class="field">
            <%= f.label :outpost_logo_height_mobile, class: "field__label" %>
            <p class="field__hint">The height of the logo when on mobile view.</p>
            <%= f.text_field :outpost_logo_height_mobile, value: Setting.outpost_logo_height_mobile, class: "field__input" %>
          </div>
        </div>
      <% end %>


       <%= render "shared/collapsible", name: "Outpost features", id: "settings-features " do %>
         <div class="field-section">
            <div class="field field--span-two-cols">
              <div class="checkbox">
              <%= f.check_box :feature_wysiwyg, class: "checkbox__input"%>
              <%= f.label :feature_wysiwyg, class: "checkbox__label" do %>
                  Enable WYSIWYG editor functionality for service description fields.
              <% end %>
              </div>
            </div>
        </div>
      <% end %>


 
        <div class="form-actions">
          <%= f.submit "Save", class: "button" %>
        </div>
      <% end %>
    </div>

    <aside class="with-sidebar__sidebar">

    </aside>
</div>
