<% content_for :header do %>
    <h1 class="page-header__title">Services</h1>
    <%= render "shared/services-nav" %>
<% end %>

<% if @requests.present? %>
  <ul class="todo-list">
    <% @requests.each do |s| %>
      <li class="todo-list__item">
        <div>
          <h2><%= link_to s.display_name.truncate(25), admin_service_path(s) %></h2>
          <p>
            <%= time_ago_in_words(s.updated_at).humanize %> ago
            <% if s.versions.last && s.versions.last.whodunnit %>
              by <%= render "shared/poppables/user", u: User.find(s.versions.last.whodunnit) %>
            <% else %>
              by system
            <% end %>
          </p>
        </div>

        <% if s.discarded?  %>
          <div class="todo-status todo-status--deleted">
            <strong>Archived service</strong>
          </div>
        <% elsif s.last_approved_snapshot %>
          <div class="todo-status">
            <strong>Changed service</strong>
            <p><%= s.unapproved_fields.join(", ").humanize %></p>
          </div>
        <% else %>
          <div class="todo-status todo-status--new">
            <strong>New service</strong>
          </div>
        <% end %>
        <%= link_to "Approve", admin_request_path(s), method: "patch", class: "button" %>
      </li>
    <% end %>
  </ul>

  <%= paginate @requests %>

<% else %>
  <p class="no-results no-results--big">Nothing to do right now</p>
<% end %>