<% content_for :header do %>
    <h1 class="page-header__title">Pending changes</h1>
    <%= render "shared/services-nav" %>
<% end %>

<% if @requests.present? %>
  <header class="actions">
      <%= link_to "Approve all", "", class: "button button--small", data: { confirm: "Are you sure you want to approve all changes?" } %>
  </header>

  <div class="table-holder">
    <table class="table">
      <thead>
        <tr>
            <th>To</th>
            <th>By</th>
            <th>At</th>
        </tr>
      </thead>
      <tbody>
        <% @requests.each do |r| %>
          <tr>
            <td><%= link_to r.name, admin_service_path(r) %></td>
            <td></td>
            <td><%= time_ago_in_words(r.updated_at) %></td>
            <td><%= link_to "Approve",  admin_request_path(r), method: "patch" %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% else %>
  <p class="no-results">No requests to show</p>
<% end %>