<div class="field-section field-section--two-cols">
    <div class="field field--required">
        <%= s.label :name, class: "field__label" %>
        <%= s.text_field :name, value: @service.name, class: "field__input", required: true %>
    </div>

    <div class="field field--required">
        <%= s.label :organisation_id, "Parent organisation", class: "field__label" %>
        <%= s.collection_select( :organisation_id, Organisation.all, :id, :display_name, {}, class: "field__input", data: {choices: true})%>
    </div>

    <div class="field field--span-two-cols" data-word-count="true">
        <%= s.label :description, class: "field__label" %>
        <%= s.text_area :description, value: @service.description, class: "field__input", rows: 5 %>
        <div class="field__footer">
            <p class="field__lower-hint">Descriptions over 30 words may be shortened</p>
            <span class="field__word-counter"></span>
        </div>
    </div>
</div>

<div class="field-section field-section--two-cols">
    <h3 class="field field--span-two-cols">Contact details</h3>

    <div class="field">
        <%= s.label :email, class: "field__label" %>
        <%= s.email_field :email, value: @service.email, class: "field__input" %>
    </div>

    <div class="field">
        <%= s.label :url, "Website", class: "field__label" %>
        <%= s.url_field :url, value: @service.url, class: "field__input" %>
        <p class="field__lower-hint">Must start with http:// or https://</p>
    </div>
</div>


