<div class="field-section field-section--two-cols field-section--reduced-bottom-margin">

    <div class="field">
        <%= c.label :name, "Their name", class: "field__label" %>
        <%= c.text_field :name, class: "field__input" %>
    </div>

    <div class="field">
        <%= c.label :title, "Their role", class: "field__label" %>
        <%= c.text_field :title, class: "field__input" %>
    </div>

    <%= c.fields_for :phones do |x| %>
        <div class="field">
            <%= x.label :number, "Phone", class: "field__label" %>
            <%= x.text_field :number, class: "field__input" %>
        </div>
    <% end %>

</div>
<div class="field-section field-section--two-cols field-section--no-bottom-margin">

    <div class="field checkbox">
        <%= c.check_box :visible, class: "checkbox__input"%>
        <%= c.label :visible, "Make this contact publicly visible?", class: "checkbox__label" %>
    </div>

</div>

<%= c.hidden_field :_destroy,  data: {destroy_field: true} %>

<button type="button" class="nested-editor__closer" data-close="true">Remove this contact</button>