<div class="field-group field-group--three-cols field-group--no-margins">
    <div class="field">
        <%= c.label :option, "Who is this fee for?", class: "field__label" %>
        <%= c.text_field :option, class: "field__input", placeholder: "eg. adults, under 16s" %>
    </div>

    <div class="field field--required">
        <%= c.label :amount, class: "field__label" %>
        <span class="field__prefix">£</span>
        <%= c.text_field :amount, class: "field__input field__input--with-prefix", step: "0.01", min: "0.00", required: true %>
    </div>

    <div class="field">
        <%= sched.label :type, "Type", class: "field__label" %>
        <%= sched.select :type, cost_option_types, { include_blank: true }, class: "field__input"  %>
    </div>


</div>
<%= c.hidden_field :_destroy,  data: {destroy_field: true} %>

<button type="button" class="repeater__closer" data-close="true" title="Remove this fee">Remove this fee</button>