<% CustomFieldSection.visible_to(current_user).each do |section| %>
    <div class="field-group">
        <h3 class="field-group__legend"><%= section.name %></h3>
        <% if section.hint.present? %>
            <p class="field-group__hint"><%= section.hint %></p>
        <% end %>

        <% section.custom_fields.each do |field| %>
            <%= s.fields_for :meta, s.object.meta.find_or_initialize_by(key: field.key) do |c| %>
                <%= c.hidden_field :key %>

                <% if field.field_type === "checkbox" %>
                    <div class="field">
                        <div class="checkbox">
                            <%= c.check_box :value, class: "checkbox__input"%>
                            <%= c.label :value, field.key, class: "checkbox__label" %>
                        </div>
                    </div>
                <% else %>
                    <div class="field">
                        <%= c.label :value, field.key, class: "field__label" %>
                        <% if field.hint.present? %>
                            <p class="field__hint"><%= field.hint %></p>
                        <% end %>
                        <% if field.field_type === "number" %>
                            <%= c.number_field :value, class: "field__input" %>
                        <% elsif field.field_type === "select"%>
                            <%= c.select :value, field.options.split(","), {}, class: "field__select" %>
                        <% else %>
                            <%= c.text_field :value, class: "field__input" %>
                        <% end %>
                    </div>
                <% end %>


            <% end %>
        <% end %>
    </div>

<% end %>