<section class="location-search">
    <div class="field">
        <label for="" class="visually-hidden">Find a location</label>
        <input type="search" placeholder="Search by venue or address..." class="field__input location-search__input">
    </div>

    <fieldset class="location-search__results" aria-live="polite">
        <p class="location-search__prompt">Type something to start searching</p>
        <p hidden class="location-search__no-results">No matches. Try creating a new location.</p>

        <%= s.collection_check_boxes( :location_ids, Location.all, :id, :checkbox_attributes) do |c| %>
            <div class="checkbox location-search__result" data-indexed="<%= c.text.to_json %>" data-id="<%= c.value %>">
                <%= c.check_box class: "checkbox__input" %>
                <%= c.label class: "checkbox__label" do %>
                    <h4 class="location-search__name"><%= c.text[:name] %></h4>
                    <p class="location-search__address"><%= c.text[:one_line_address] %></p>
                <% end %>
            </div>
        <% end %>
    </fieldset>

</section>