<div class="field-group field-group--two-cols field-group--no-margins">
    <div class="field field--required">
        <%= c.label :label, "Label", class: "field__label" %>
        <%= c.text_field :label, class: "field__input", placeholder: "eg. Facebook, Twitter" %>
    </div>

    <div class="field field--required">
        <%= c.label :url, "URL", class: "field__label" %>
        <%= c.url_field :url, class: "field__input", required: true %>
    </div>
</div>

<%= c.hidden_field :_destroy,  data: {destroy_field: true} %>


<button type="button" class="repeater__closer" data-close="true" title="Remove this link">Remove this link</button>