<div class="field-section field-section--two-cols field-section--reduced-bottom-margin">
    <div class="field field--span-two-cols">
        <%= l.label :name, "Venue or building name", class: "field__label" %>
        <%= l.text_field :name, class: "field__input", data: {field: "premise"} %>
    </div>
    <div class="field">
        <%= l.label :address_1, "Street address", class: "field__label" %>
        <%= l.text_field :address_1, class: "field__input", data: {field: "street_number_route"} %>
    </div>
    <div class="field">
        <%= l.label :city, "Town or area", class: "field__label" %>
        <%= l.text_field :city, class: "field__input", data: {field: "postal_town"} %>
    </div>
    <div class="field field--required">
        <%= l.label :postal_code, "Postcode", class: "field__label" %>
        <%= l.text_field :postal_code, class: "field__input", data: {field: "postal_code"}, required: true %>
    </div>
</div>

<fieldset class="field-section field-section--two-cols field-section--reduced-bottom-margin">
    <legend class="field field--span-two-cols">Accessibility</legend>
    <%= l.collection_check_boxes( :accessibility_ids, Accessibility.all, :id, :display_name) do |c| %>
    <div class="checkbox checkbox--small">
        <%= c.check_box class: "checkbox__input" %>
        <%= c.label class: "checkbox__label" %>
    </div>
    <% end %>
</fieldset>
<div class="field-section field-section--no-bottom-margin">
    <div class="field checkbox checkbox--small">
        <%= l.check_box :visible, class: "checkbox__input"%>
        <%= l.label :visible, "Make this location publicly visible", class: "checkbox__label" %>
    </div>
    <div class="field checkbox checkbox--small">
        <%= l.check_box :mask_exact_address, class: "checkbox__input"%>
        <%= l.label :mask_exact_address, class: "checkbox__label" do %>
            Hide the exact street address
            <button class="help-button help-button--small" type="button" data-tippy-content="If checked, only the first part of the postcode will be publicly visible, and the map pin will not be as precise.">What does this mean?</button>
        <% end %>
</div>
</div>

<button type="button" class="nested-editor__closer" data-close="true">Remove this location</button>

<%# <%= l.hidden_field :google_place_id, data: {field: "google_place_id"} %>
<%# <%= l.hidden_field :latitude, data: {field: "latitude"} %>
<%# <%= l.hidden_field :longitude, data: {field: "longitude"} %>

<%= l.hidden_field :_destroy,  data: {destroy_field: true} %>