<table class="table">
    <thead>
        <tr>
            <th>Day</th>
            <th>Opens at</th>
            <th>Closes at</th>
        </tr>
    </thead>
    <tbody>
        <% weekdays.each do |day| %>
            <%= s.fields_for :regular_schedules, RegularSchedule.new do |sched| %>
                <tr>
                    <td class="field">
                        <div class="checkbox">
                        <%= sched.check_box :weekday, class: "checkbox__input" %>
                        <%= sched.label :weekday, day[:label], class: "checkbox__label" %>
                        </div>
                    </td>
                    <td class="field">
                        <%= sched.label :opens_at, class: "visually-hidden" %>
                        <%= sched.time_field :opens_at, class: "field__input", step: 60 %>
                    </td>
                    <td class="field">
                        <%= sched.label :closes_at, class: "visually-hidden" %>
                        <%= sched.time_field :closes_at, class: "field__input", step: 60 %>
                    </td>
                </tr>
            <% end %>
        <% end %>
    </tbody>
</table>