<table class="schedule-editor__results table">
    <thead>
        <tr>
            <th>Day</th>
            <th>Opens at</th>
            <th>Closes at</th>
        </tr>
    </thead>
    <tbody>
        <%= s.fields_for :regular_schedules do |sched| %>
            <tr class="schedule-editor__result">
                <td>
                    <%= weekdays.select{|d| d[:value] === sched.object.weekday}[0][:label] %>
                </td>
                <td class="field">
                    <%= sched.label :opens_at, class: "visually-hidden" %>
                    <%= sched.time_field :opens_at, class: "field__input", step: 60 %>
                </td>
                <td class="field">
                    <%= sched.label :closes_at, class: "visually-hidden" %>
                    <%= sched.time_field :closes_at, class: "field__input", step: 60 %>
                </td>
            </tr>
        <% end %>
    </tbody>
</table>