<div class="field">
    <%= sched.label :weekday, "Day", class: "field__label" %>
    <%= sched.select :weekday, weekdays.collect {|d| [ d[:label], d[:value] ] }, {}, class: "field__input" %>
</div>

<div class="field">
    <%= sched.label :opens_at, class: "field__label" %>
    <%= sched.time_field :opens_at, class: "field__input", step: 60 %>
</div>
<div class="field">
    <%= sched.label :closes_at, class: "field__label" %>
    <%= sched.time_field :closes_at, class: "field__input", step: 60 %>
</div>

<button class="" data-close="true">Remove</button>

<%= sched.hidden_field :_destroy,  data: {destroy_field: true} %>