<div class="visually-hidden">
    <td class="field">
        <%= sched.label :weekday, "Day", class: "visually-hidden" %>
        <%= sched.select :weekday, weekdays.collect {|d| [ d[:label], d[:value] ] }, {}, class: "field__input" %>
    </td>
    <td class="field">
        <%= sched.label :opens_at, class: "visually-hidden" %>
        <%= sched.time_field :opens_at, class: "field__input", step: 60 %>
    </td>
    <td class="field">
        <%= sched.label :closes_at, class: "visually-hidden" %>
        <%= sched.time_field :closes_at, class: "field__input", step: 60 %>
    </td>
    <td>
        <button class="" data-close="true">Remove</button>
    </td>
</div>

<td class="visually-hidden">
    <%= sched.text_field :_destroy,  data: {destroy_field: true} %>
</td>