<div class="field-group field-group--three-cols field-group--no-margins">
    <div class="field">
        <%= sched.label :weekday, "Day", class: "field__label" %>
        <%= sched.select :weekday, weekdays.collect {|d| [ d[:label], d[:value] ] }, {}, class: "field__input"  %>
    </div>
    <div class="field field--required">
        <%= sched.label :opens_at, class: "field__label" %>
        <%= sched.time_field :opens_at, value: sched.object.opens_at, class: "field__input", step: 60, required: true %>
    </div>
    <div class="field field--required">
        <%= sched.label :closes_at, class: "field__label" %>
        <%= sched.time_field :closes_at, value: sched.object.closes_at, class: "field__input", step: 60, required: true %>
    </div>
</div>


<%= sched.hidden_field :_destroy,  data: {destroy_field: true} %>

<button type="button" class="repeater__closer" data-close="true" title="Remove this schedule">Remove this schedule</button>
