
<div class="field-section field-section--two-cols">
    <p class="field-section__hint">All must start with http:// or https://</p>
    <div class="field">
        <%= s.label :facebook_url, "Facebook URL", class: "field__label" %>
        <%= s.url_field :facebook_url, class: "field__input" %>
    </div>
    <div class="field">
        <%= s.label :twitter_url, "Twitter URL", class: "field__label" %>
        <%= s.url_field :twitter_url, class: "field__input" %>
    </div>
    <div class="field">
        <%= s.label :youtube_url, "Youtube URL", class: "field__label" %>
        <%= s.url_field :youtube_url, class: "field__input" %>
    </div>
    <div class="field">
        <%= s.label :instagram_url, "Instagram URL", class: "field__label" %>
        <%= s.url_field :instagram_url, class: "field__input" %>
    </div>
    <div class="field">
        <%= s.label :linkedin_url, "LinkedIn URL", class: "field__label" %>
        <%= s.url_field :linkedin_url, class: "field__input" %>
    </div>
</div>

