<%= mark_unapproved_array("taxonomies") do %>
    <div class="tabs">
        <ul class="tabs__nav">
            <% Taxonomy.roots.each do |t| %>
                <li class="tabs__nav-item">
                    <a href="#" class="tabs__nav-link"><%= t.name %></a>
                </li>
            <% end %>
        </ul>
        <% tree = Taxonomy.hash_tree %>
        <%= s.collection_check_boxes( :taxonomy_ids, tree.keys, :id, :name) do |c| %>
            <div class="tabs__panel">
              <div class="tabs__checkbox-area">

                <div class="field checkbox checkbox--small">
                    <%= c.check_box class: "checkbox__input" %>
                    <%= c.label class: "checkbox__label" %>
                </div>

                  <% branch = tree[c.object] %>
                  <%= s.collection_check_boxes( :taxonomy_ids, sorted_by_selected(branch.keys, @service), :id, :name) do |d| %>
                      <div class="field checkbox checkbox--small checkbox--level-1">
                          <%= d.check_box class: "checkbox__input" %>
                          <%= d.label class: "checkbox__label" %>
                      </div>
                      <% leaf = branch[d.object] %>
                      <%= s.collection_check_boxes( :taxonomy_ids, sorted_by_selected(leaf.keys, @service), :id, :name) do |e| %>
                          <div class="field checkbox checkbox--small checkbox--level-1">
                              <%= e.check_box class: "checkbox__input" %>
                              <%= e.label class: "checkbox__label" %>
                          </div>
                      <% end %>
                  <% end %>
                </div>
                <button class="inline-button" type="button" data-taxonomies-select-all>Select all</button>
                <button class="inline-button" type="button" data-taxonomies-deselect-all>Deselect all</button>
            </div>
        <% end %>
    </div>
<% end %>