
<%= s.collection_check_boxes( :taxonomy_ids, Taxonomy.where(parent_id: nil), :id, :name) do |c| %>
    <div class="field checkbox">
        <%= c.check_box class: "checkbox__input" %>
        <%= c.label class: "checkbox__label" %>
    </div>

    <%= s.collection_check_boxes( :taxonomy_ids, Taxonomy.where(parent_id: c.value), :id, :name) do |d| %>
        <div class="field checkbox checkbox--small checkbox--indented">
            <%= d.check_box class: "checkbox__input" %>
            <%= d.label class: "checkbox__label" %>
        </div>
    <% end %>

<% end %>