<%= form_for [:admin, @user], html: {class: "two-thirds"} do |s| %>

  <% if @user.errors.full_messages.any? %>
    <div class="error">
      <h2 class="error__title">Errors stopped this user being invited:</h2>
      <ul class="error__list">
        <% @user.errors.full_messages.each do |e| %>
          <li><%= e %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field-section">
    <div class="field">
      <%= s.label :email, class: "field__label" %>
      <%= s.text_field :email, class: "field__input" %>
    </div>
  </div>

  <%= s.submit "Send invite", class: "button" %>

<% end %>