<% content_for :header do %>
    <h1 class="page-header__title">Users</h1>
<% end %>

<header class="actions">
  <div class="actions__group">
    <%= render "shared/mini-search", path: admin_users_path %>
    <%= render "filters" %>
  </div>
  <div class="actions__group">
    <%= link_to "Invite user", new_admin_user_path, class: "button button--small" %>
  </div>
</header>

<div class="table-holder">
  <table class="table">
    <thead>
      <tr>
        <th>Name or email</th>
        <th>Admin</th>
        <th>Organisation</th>
        <th>Joined</th>
        <th>Last seen</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |u| %>
        <tr>
          <td>
            <strong><%= link_to u.display_name, admin_user_path(u) %></strong>
          </td>
          <td>
            <% if u.admin %>
              <%= image_tag "tick-circle.svg", alt: "Admin" %>
            <% end %>
          </td>
          <td><%= render "shared/poppables/organisation", o: u.organisation if u.organisation %></td>
          <td><%= time_ago_in_words(u.created_at).humanize %> ago</td>
          <td>
            <% if u.last_seen %>
              <%= time_ago_in_words(u.last_seen).humanize %>
            <% else %>
              Never logged in
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>