<% content_for :header do %>
    <h1 class="page-header__title">Users</h1>
    <%= render "shared/users-nav" %>
<% end %>

<%= render "filters" %>

<% if @users.any? %>
  <div class="table-holder">
    <table class="table">
      <thead>
        <tr>
          <th></th>
          <th>Name or email</th>
          <th>Manage services</th>
          <th>Manage Ofsted</th>
          <th>Manage users</th>
          <th>Organisation</th>
          <th>Joined</th>
          <th>Last seen</th>
          <% if params[:deactivated] %>
            <th class="visually-hidden">Actions</th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% @users.each do |u| %>
          <tr>
            <td>
              <%= render "shared/user-circle", u: u %>
            </td>
            <td>
              <strong><%= link_to u.display_name, admin_user_path(u) %></strong>
            </td>
            <td>
              <% if u.admin %>
                <%= image_tag "tick-blue.svg", alt: "Yes" %>
              <% else %>
                —
              <% end %>
            </td>
            <td>
              <% if u.admin_ofsted %>
                <%= image_tag "tick-blue.svg", alt: "Yes" %>
              <% else %>
                —
              <% end %>
            </td>
            <td>
              <% if u.admin_users %>
                <%= image_tag "tick-blue.svg", alt: "Yes" %>
              <% else %>
                —
              <% end %>
            </td>
            <td><%= render "shared/poppables/organisation", o: u.organisation if u.organisation %></td>
            <td><%= time_ago_in_words(u.created_at).humanize %> ago</td>
            <td>
              <% if u.last_seen %>
                <%= time_ago_in_words(u.last_seen).humanize %> ago
              <% else %>
                Never logged in
              <% end %>
            </td>
            <td>
              <% if u.marked_for_deletion? %>
                <%= "Marked for deletion on #{u.marked_for_deletion.strftime("%d/%m/%Y")}" %>
                <br>
              <% end %>
              <% if u.discarded? %>
                <%= link_to "Reactivate", admin_user_reactivate_path(u), method: "post", data: {confirm: "Are you sure? This user will be able to sign in again."} %>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <%= paginate @users %>
<% else %>
  <p class="no-results no-results--big">No users to show</p>
<% end %>
