<% content_for :header do %>
    <%= link_to "Back to users", admin_users_path, class: "go-back" %>
    <h1 class="page-header__title two-thirds">Invite a new user</h1>
<% end %>

<%= form_for [:admin, @user], html: {class: "two-thirds"}, data: {warn_unsaved_changes: true} do |f| %>
    <%= render "shared/errors", model: @user %>
    <%= render "fields", f: f %>
    <%= f.submit "Send invite", class: "button" %>
<% end %>