<% content_for :header do %>

    <% if @user.discarded? %>
      <div class="notice notice--cross">
        <div class="notice__body">
          <p>This user is deactivated and can't log in</p>
          <%= link_to "Reactivate", admin_user_reactivate_path(@user), method: "post", class: "notice__action", data: {confirm: "Are you sure? This user will be able to log in again."} %>
        </div>
      </div>
    <% elsif @user.admin? %>
      <div class="notice notice--administrator">
        <p>This user can manage services</p>
      </div>
    <% end %>

    <%= link_to "Back to users", admin_users_path, class: "go-back" %>
    <div class="page-header__actions">
      <h1 class="page-header__title two-thirds"><%= @user.display_name %></h1>
    </div>
<% end %>

<div class="two-panels">

    <div class="panel">
        <%= form_for [:admin, @user] do |f| %>
            <%= render "shared/errors", model: @user %>
            <%= render "fields", f: f %>

            <% if current_user.admin_users? %>
              <div class="form-actions">
                <%= f.submit "Update", class: "button", data: {confirm: "Only edit other users if you're sure you know what you're doing. Do you want to continue?"} %>
                <% unless @user.discarded? %>
                  <%= link_to "Deactivate", admin_user_path(@user), method: "delete", class: "button button--danger", data: {confirm: "Are you sure you want to deactivate this user? They will no longer be able to log in." } %>
                <% end %>
              </div>
            <% end %>
        <% end %>
    </div>

    <div class="panel">

      <%= render "shared/collapsible", name: "Recent activity", id: "user-recent-activity" do %>
          <%= link_to "See all activity", admin_activity_index_url, class: "collapsible__action" %>
        
          <% if @activities.present? %>
            <div class="table-holder">
              <table class="table">
                <tbody>
                  <% @activities.each do |a| %>
                    <tr>
                      <td>
                        <%= link_to a.service.name, admin_service_url(a.service) %>
                      </td>
                      <td>
                        <%= pretty_event(a.action).humanize %>
                      </td>
                      <td><%= short_time_ago_in_words(a.created_at).humanize %> ago</td>
                    </tr>
                  <% end %>
                </tbody>
              </table>
            </div>
          <% else %>
            <p class="no-results">No activity to show.</p>
          <% end %>
      <% end %>
    
      <%= render "shared/collapsible", name: "Password reset", id: "user-password-reset" do %>
          <p class="bottom-margin">Users must reset their own passwords, but you can send the instructions by email.</p>
          <%= link_to "Trigger reset", admin_user_reset_path(@user), method: "post", class: "button button--small" %>
      <% end %>
  </div>
</div>