<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>
  <body>
    <!-- <a href="#content" class="skiplink">Skip to main content</a> -->
    <%= render "shared/header", full_width: false %>
    <%= render "shared/navigation", full_width: false %>

    <header class="page-header" id="content">
      <div class="container">
          <% if notice || alert %>
              <div class="alert">
                <%= notice %>
                <%= alert %>
              </div>
          <% end %>
          <%= yield :header %>
      </div>
    </header>

    <div class="page-content">
      <div class="container">
        <%= yield %>
      </div>
    </div>

    <%= render "shared/footer" %>

    <%= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
