<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Outpost</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header class="site-header">
      <div class="container site-header__inner">
        <%= link_to image_tag("logo.svg", alt: "Buckinghamshire Council", class: "site-header__logo"), root_path, class: "site-header__masthead" %>

        <div class="site-header__actions">
          <span class="site-header__username">user@example.com</span>
          <%= link_to "Log out", root_path, class: "site-header__link" %>
        </div>

      </div>
    </header>

    <nav class="site-nav">
      <div class="container">
        <%= link_to_unless_current "Services", admin_services_path, class: "site-nav__link" %>
    </nav>

    <%= yield %>

    <footer class="site-footer">
      <div class="container">
        2020 Buckinghamshire Council
      </div>
    </footer>
  </body>
</html>
