<!DOCTYPE html>
<html lang="en">
  <%= render "shared/head" %>

  <% content_for :body_classes, [@additional_classes, 'full-height'].compact.join(' ') %>
  <body class="<%= body_classes(yield :body_classes) %>">
    <!-- <a href="#content" class="skiplink">Skip to main content</a> -->
    <%= render "shared/header", full_width: true %>
    <%= render "shared/navigation", full_width: true %>

    <header class="page-header page-header--full-width" id="content">
          <% if notice || alert %>
              <div class="alert">
                <%= notice %>
                <%= alert %>
              </div>
          <% end %>
          <%= yield :header %>
    </header>

    <%= yield %>

    <%= javascript_pack_tag 'main', 'data-turbolinks-track': 'reload' %>
  </body>
</html>
